<!-- Widget grid -->
<div class="grid-12">
  <div class="cell-3">
    <!-- Create article -->
    <div class="pmp-page-content-box">
      <div class="pmp-page-content-box-content">
        <a class="button button-success button-labeled" href="/back-office/article/edit">
          <div class="button-label">
            <span class="icon icon-plus"></span>
          </div>
          Write a new blog post
        </a>
      </div>
    </div>
    <!-- !Create article -->
  </div>
</div>
<!-- !Widget grid -->
