<div class="pmp-reports grid-12" data-ng-controller="reportsController">
  <!-- Report -->
  <div class="pmp-page-content-box">
    <div class="pmp-page-content-box-content" data-ng-hide="0 === globals.reportList.length">
      <table class="pmp-backoffice-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Text</th>
            <th class="hidden-mobile">Date</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr data-ng-repeat="report in globals.reportList">
            <td class="pmp-backoffice-table-cell"
                ng-bind="report.author"></td>

            <td class="pmp-backoffice-table-cell pmp-backoffice-table-cell-small"
                ng-bind="report.text"></td>

            <td class="pmp-backoffice-table-cell pmp-backoffice-table-cell-center pmp-backoffice-table-cell-small">
              {{report.created | date: 'yyyy-MM-dd'}}
            </td>

            <td class="pmp-backoffice-table-cell pmp-backoffice-table-cell-center">
              <button type="button" class="button button-error" data-ng-click="deleteReport(report)">
                <span class="icon icon-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pmp-no-report cell-12" data-ng-show="0 === globals.reportList.length">
      <p>
        No report to show!
      </p>
    </div>
  </div>
</div>
