<!DOCTYPE html>
<html>
  <head>
    <title>Pampattitu.de - Admin Panel - <% if ('undefined' != typeof title) { %> - <%= title %><% } %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Global injection -->
    <script type="application/javascript">
      var globals = <% if ('undefined' != typeof locals && 'undefined' != typeof locals._locals) { %><%- JSON.stringify(locals._locals) %><% } else { %>{}<% } %>;
    </script>
    <!-- !Global injection -->

    <link rel="icon" href="/img/Pmp.ico" />

    <!-- External scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.autosize/1.18.9/jquery.autosize.min.js"></script> <!-- autosize textarea[data-resizable] -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <!-- !External scripts -->

    <!-- External stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" type="text/css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,900" type="text/css" />
    <!-- !External stylesheets -->

    <script src="/js/konami.js"></script>
    <script src="/js/backOfficeApp.js"></script>
    <script src="/js/backOfficeStatisticsController.js"></script>
    <script src="/js/backOffice.js"></script>

    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/pmp-back.css" />
  </head>

  <body ng-app="backOfficeApp">
    <!-- General app controller -->
    <div ng-controller="generalController">
      <!-- Confirm box -->
      <% include partials/confirmBox.html %>
      <!-- !Confirm box -->

      <!-- Alerts -->
      <% include partials/alerts.html %>
      <!-- !Alerts -->

      <div class="grid-5">
        <div class="cell-1 cell-mobile-5">
          <!-- Main menu -->
          <% include partials/mainMenu.html %>
          <!-- !Main menu -->
        </div>

        <div class="cell-4 cell-mobile-5">
          <!-- Page content -->
          <main class="pmp-page-content">
              <% include page %>
          </main>
          <!-- !Page content -->
        </div>
      </div>
      <!-- !General controller -->
    </div>
    <!-- App -->
  </body>
</html>
