<!DOCTYPE html>
<html>
  <head>
    <title>Pampattitu.de - Admin Panel - <% if ('undefined' != typeof title) { %> - <%= title %><% } %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Global injection -->
    <script type="application/javascript">
      var globals = <% if ('undefined' != typeof locals && 'undefined' != typeof locals._locals) { %><%- JSON.stringify(locals._locals) %><% } else { %>{}<% } %>;
    </script>
    <!-- !Global injection -->

    <link rel="icon" href="/img/Pmp.ico" />

    <!-- External scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.autosize/1.18.9/jquery.autosize.min.js"></script> <!-- autosize textarea[data-resizable] -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- !External scripts -->

    <!-- External stylesheets -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" type="text/css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,900" type="text/css" />
    <!-- !External stylesheets -->

    <script src="/js/konami.js"></script>
    <script src="/js/backOfficeApp.js"></script>
    <script src="/js/backOffice.js"></script>

    <link rel="stylesheet" href="/css/icomoon.css" />
    <link rel="stylesheet" href="/css/pmp-back.css" />
  </head>

  <body ng-app="backOfficeApp">
    <!-- General app controller -->
    <div ng-controller="generalController">
      <!-- Page hider -->
      <div class="pmp-page-hider" id="page-hider">
      </div>
      <!-- !Page hider -->

      <!-- Alerts -->
      <% include partials/alerts.html %>
      <!-- !Alerts -->

      <!-- Confirm box -->
      <div class="pmp-confirm-box-container" ng-show="confirmBoxOpened">
        <div class="pmp-confirm-box" id="confirm-box">
          <button class="button button-error pmp-confirm-box-close" ng-click="confirmBox.refuseCallback()">
            <span class="icon icon-close"></span>
          </button>

          <div class="pmp-confirm-box-content">
            <h2 class="pmp-confirm-box-title" ng-show="confirmBox.title.length" ng-bind="confirmBox.title"></h2>

            <div class="pmp-confirm-box-text" ng-bind-html="confirmBox.text | trust"></div>
          </div>

          <div class="pmp-confirm-box-actions">
            <button class="button button-error button-labeled pmp-confirm-box-refuse-button"
                    ng-click="confirmBox.refuseCallback()">
              <div class="button-label"><span class="icon icon-close"></span></div>
              <span ng-bind="confirmBox.refuseText"></span>
            </button>

            <button class="button button-success button-labeled pmp-confirm-box-accept-button"
                    ng-click="confirmBox.acceptCallback()">
              <div class="button-label"><span class="icon icon-checkmark"></span></div>
              <span ng-bind="confirmBox.acceptText"></span>
            </button>
          </div>
        </div>
      </div>
      <!-- !Confirm box -->

      <div class="grid-5">
        <div class="cell-1 cell-mobile-5">
          <!-- Main menu -->
          <% include partials/mainMenu.html %>
          <!-- !Main menu -->
        </div>

        <div class="cell-4 cell-mobile-5">
          <!-- Page content -->
          <div class="pmp-page-content">
              <% include page %>
          </div>
          <!-- !Page content -->
        </div>
      </div>
      <!-- !General controller -->
    </div>
    <!-- App -->
  </body>
</html>
