<div class="pmp-comments" data-ng-controller="commentsModerationController">
  <!-- Comment -->
  <div class="cell-12 cell-mobile-12"
       data-ng-repeat="comment in globals.commentList">
    <div class="pmp-comment">
      <div class="pmp-comment-content-container">
        <div class="pmp-comment-content">
          <div class="pmp-comment-author">
            By <span class="pmp-comment-author-name"
                     data-ng-bind="comment.author"></span>
          </div>

          <div class="pmp-comment-date"
               data-ng-bind="comment.created | date: 'yyyy-MM-dd'"></div>

          <div class="pmp-comment-text"
               data-ng-bind="comment.text">
          </div>
        </div>
      </div>

      <!-- Comment actions -->
      <div class="pmp-comment-actions grid-3">
        <div class="cell-1">
          <button type="button" class="button button-visible"
                  data-ng-class="{active: 'visible' == comment.status}"
                  data-ng-click="changeCommentStatus(comment, 'visible')">
            <span class="icon icon-eye"></span>
          </button>
        </div>

        <div class="cell-1">
          <button type="button" class="button button-hidden"
                  data-ng-class="{active: 'hidden' == comment.status}"
                  data-ng-click="changeCommentStatus(comment, 'hidden')">
            <span class="icon icon-eye-blocked"></span>
          </button>
        </div>

        <div class="cell-1">
          <button type="button" class="button button-error" data-ng-click="deleteComment(comment)">
            <span class="icon icon-remove"></span>
          </button>
        </div>
      </div>
      <!-- !Comment actions -->
    </div>
  </div>
  <!-- !Comment -->

  <div class="pmp-no-comment cell-12" data-ng-show="0 == globals.commentList.length">
    <p>
      No comment yet.
    </p>
  </div>
</div>
