<div class="pmp-article-edit pmp-has-toolbar">
  <!-- Article -->
  <div class="pmp-article">
    <div class="pmp-article-content">
      <div class="pmp-article-type" data-ng-init="article.type = article.type || 'news'">
        <button type="button" class="vignette-button news-vignette"
                data-ng-click="article.type = 'news'"
                data-ng-class="{'inactive': 'news' != article.type}">
          News
        </button>

        <button type="button" class="vignette-button life-vignette"
                data-ng-click="article.type = 'life'"
                data-ng-class="{'inactive': 'life' != article.type}">
          Life
        </button>

        <button type="button" class="vignette-button project-vignette"
                data-ng-click="article.type = 'project'"
                data-ng-class="{'inactive': 'project' != article.type}">
          Project
        </button>

        <button type="button" class="vignette-button tutorial-vignette"
                data-ng-click="article.type = 'tutorial'"
                data-ng-class="{'inactive': 'tutorial' != article.type}">
          Tutorial
        </button>

        <button type="button" class="vignette-button flash-vignette"
                data-ng-click="article.type = 'flash'"
                data-ng-class="{'inactive': 'flash' != article.type}">
          Flash
        </button>
      </div>

      <div class="pmp-article-title-and-technical-name grid-4">
        <div class="cell-2 cell-mobile-4">
          <div class="pmp-article-title">
            <input class="control"
                   data-ng-model="article.title"
                   data-ng-init="article.title = article.title || ''"
                   update-technical-name
                   placeholder="Title..." />
          </div>
        </div>

        <div class="cell-2 cell-mobile-4">
          <div class="pmp-article-technical-name">
            <input class="control"
                   data-ng-model="article.technicalName"
                   data-ng-init="article.technicalName = article.technicalName || ''"
                   placeholder="Technical name..."
                   disabled />
          </div>
        </div>
      </div>

      <div class="pmp-article-caption">
        <textarea class="pmp-bb-textarea control"
                  data-ng-model="article.caption"
                  data-ng-init="article.caption = article.caption || ''"
                  placeholder="Caption..."
                  data-resizable rows="8"
                  bbcode-it-up></textarea>
      </div>

      <div class="pmp-article-text" data-ng-hide="'flash' == article.type">
        <textarea class="pmp-bb-textarea control"
                  data-ng-model="article.text"
                  data-ng-init="article.text = article.text || ''"
                  placeholder="Text..."
                  data-resizable rows="8"
                  bbcode-it-up></textarea>
      </div>

      <div class="pmp-article-tags">
        <span class="pmp-article-tag" data-ng-repeat="tag in article.tags">
          <span data-ng-bind="tag"></span>
          <button type="button" class="button button-remove-tag" data-ng-click="article.tags.splice($index, 1)">
            <span class="icon icon-close"></span>
          </button>
        </span>

        <input class="control control-inline"
               data-ng-model="newTag"
               data-ng-init="newTag = newTag || ''"
               placeholder="New tag..." control-tags />
      </div>

      <div class="pmp-article-legend">
        <table>
          <tbody>
            <tr>
              <td class="article-leg-tag">title</td>
              <td class="article-leg-des">H1 title</td>
              <td class="article-leg-use">[title]TEXT[/title]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">subtitle</td>
              <td class="article-leg-des">H2 title (subtitle)</td>
              <td class="article-leg-use">[subtitle]TEXT[/subtitle]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">p</td>
              <td class="article-leg-des">Paragraph</td>
              <td class="article-leg-use">[p]TEXT[/p]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">br</td>
              <td class="article-leg-des">Line break</td>
              <td class="article-leg-use">[br/]</td>
            </tr>


            <tr>
              <td class="article-leg-tag">b</td>
              <td class="article-leg-des">Bold text</td>
              <td class="article-leg-use">[b]TEXT[/b]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">i</td>
              <td class="article-leg-des">Italic text</td>
              <td class="article-leg-use">[i]TEXT[/i]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">s</td>
              <td class="article-leg-des">Strikethrough text</td>
              <td class="article-leg-use">[s]TEXT[/s]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">u</td>
              <td class="article-leg-des">Underline text</td>
              <td class="article-leg-use">[u]TEXT[/u]</td>
            </tr>


            <tr>
              <td class="article-leg-tag">img</td>
              <td class="article-leg-des">Image</td>
              <td class="article-leg-use">[img]LINK[/img]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">url</td>
              <td class="article-leg-des">Link</td>
              <td class="article-leg-use">[url=LINK]ALIAS[/url]</td>
            </tr>


            <tr>
              <td class="article-leg-tag">quote</td>
              <td class="article-leg-des">Quoted text</td>
              <td class="article-leg-use">[quote]TEXT[/quote]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">code</td>
              <td class="article-leg-des">Code</td>
              <td class="article-leg-use">[code=LANGUAGE]TEXT[/code]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">inline-code</td>
              <td class="article-leg-des">Inline code</td>
              <td class="article-leg-use">[inline-code=LANGUAGE]TEXT[/inline-code]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">comment</td>
              <td class="article-leg-des">Comment</td>
              <td class="article-leg-use">[comment]TEXT[/comment]</td>
            </tr>

            <tr>
              <td class="article-leg-tag">tldr</td>
              <td class="article-leg-des">tl;dr</td>
              <td class="article-leg-use">[tldr]TEXT[/tldr]</td>
            </tr>


            <tr>
              <td class="article-leg-tag">unity</td>
              <td class="article-leg-des">Unity Web Player</td>
              <td class="article-leg-use">[unity]LINK[/unity]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- !Article -->
</div>
