<!-- Widget grid -->
<div class="pmp-articles grid-12">
  <div class="cell-3 cell-mobile-6">
    <!-- Create article -->
    <div class="pmp-article">
      <div class="pmp-article-content pmp-new-article">
        <a class="button button-success" href="/back-office/article/edit">
          <span class="icon icon-plus"></span>
        </a>
      </div>
    </div>
    <!-- !Create article -->
  </div>

  <div class="cell-3 cell-mobile-6" ng-repeat="article in globals.articleList">
    <!-- Article -->
    <div class="pmp-article">
      <h2 class="box-vignette-right featured-vignette" ng-show="true == article.featured">
        <span class="icon icon-star3"></span>
      </h2>

      <div class="pmp-article-content">
        <div class="pmp-article-date">
          <span ng-bind="article.created | date: 'yyyy-MM-dd hh:mm'"></span>
        </div>

        <h3 class="pmp-article-title" ng-bind="article.title"></h3>
      </div>

      <!-- Article actions -->
      <div class="pmp-article-actions grid-3">
        <div class="cell-1">
          <button type="button" class="button button-activate" ng-click="deactivateArticle(article)" ng-show="article.activated">
            <span class="icon icon-checkmark-circle"></span>
          </button>

          <button type="button" class="button button-deactivate" ng-click="activateArticle(article)" ng-hide="article.activated">
            <span class="icon icon-blocked"></span>
          </button>
        </div>

        <div class="cell-1">
          <a class="button button-edit" href="/back-office/article/{{article['_id']}}/edit">
            <span class="icon icon-pencil"></span>
          </a>
        </div>

        <div class="cell-1">
          <a class="button button-moderate" href="/back-office/article/{{article['_id']}}/comments">
            <span class="icon icon-user"></span><span class="icon icon-flag"></span>
          </a>
        </div>
      </div>
      <!-- !Article actions -->
    </div>
    <!-- !Article -->
  </div>
</div>
<!-- !Widget grid -->
