<!-- Article list -->
<div class="pmp-articles">
  <div class="pmp-page-content-box">
    <div class="pmp-page-content-box-content">
      <table class="pmp-backoffice-table">
        <thead>
          <tr>
            <th>Name</th>
            <th class="hidden-mobile">Date</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr data-ng-repeat="article in globals.articleList">
            <td class="pmp-backoffice-table-cell"
                ng-bind="article.title"></td>

            <td class="hidden-mobile pmp-backoffice-table-cell pmp-backoffice-table-cell-small pmp-backoffice-table-cell-center">
              {{article.created | date: 'yyyy-MM-dd'}}
            </td>

            <td class="pmp-backoffice-table-cell pmp-backoffice-table-cell-center">
              <button type="button" class="button button-success"
                      title="Deactivate"
                      data-ng-click="deactivateArticle(article)" data-ng-show="article.activated">
                <span class="icon icon-checkmark-circle"></span>
              </button>

              <button type="button" class="button"
                      title="Activate"
                      data-ng-click="activateArticle(article)" data-ng-hide="article.activated">
                <span class="icon icon-blocked"></span>
              </button>

              <a class="button button-info" href="/back-office/article/{{article['_id']}}/edit"
                 title="Edit">
                <span class="icon icon-pencil"></span>
              </a>

              <button type="button" class="button button-error"
                      title="Delete"
                      data-ng-click="deleteArticleFromList(article)">
                <span class="icon icon-remove"></span>
              </button>

              <a class="button" href="/article/{{article.technicalName}}" target="_blank"
                 title="Go to article" data-ng-show="article.activated">
                <span class="icon icon-newtab"></span>
              </a>

              <a class="button" href="/article/preview/{{article.technicalName}}" target="_blank"
                 title="Go to article" data-ng-hide="article.activated">
                <span class="icon icon-newtab"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <a class="button button-success" href="/back-office/article/edit">
        &nbsp;&nbsp;<span class="icon icon-plus"></span>&nbsp;&nbsp;
      </a>
    </div>
  </div>
</div>
<!-- !Article list -->
