<!-- Page hider -->
<div class="pmp-page-hider" id="page-hider">
</div>
<!-- !Page hider -->

<!-- Confirm box -->
<div class="pmp-confirm-box-container" data-ng-show="confirmBoxOpened">
  <div class="pmp-confirm-box" id="confirm-box">
    <button class="button button-error pmp-confirm-box-close" data-ng-click="confirmBox.refuseCallback()">
      <span class="icon icon-close"></span>
    </button>

    <div class="pmp-confirm-box-content">
      <h2 class="pmp-confirm-box-title" data-ng-show="confirmBox.title.length" data-ng-bind="confirmBox.title"></h2>

      <div class="pmp-confirm-box-text" data-ng-bind-html="confirmBox.text | trust"></div>
    </div>

    <div class="pmp-confirm-box-actions">
      <button class="button button-error button-labeled pmp-confirm-box-refuse-button"
              data-ng-click="confirmBox.refuseCallback()">
        <div class="button-label"><span class="icon icon-close"></span></div>
        <span data-ng-bind="confirmBox.refuseText"></span>
      </button>

      <button class="button button-success button-labeled pmp-confirm-box-accept-button"
              data-ng-click="confirmBox.acceptCallback()">
        <div class="button-label"><span class="icon icon-checkmark"></span></div>
        <span data-ng-bind="confirmBox.acceptText"></span>
      </button>
    </div>
  </div>
</div>
<!-- !Confirm box -->
