<div class="pmp-main-menu">
  <h1 class="pmp-main-menu-title hidden-mobile">
    <a href="/back-office">
      <span class="icon icon-dashboard"></span>&nbsp;&nbsp;
      Pampattitu.de
    </a>
  </h1>

  <ul class="pmp-menu-list">
    <li class="pmp-menu-item"
        data-ng-class="{restricted: true != globals.logged,
                  active: 'stats' == globals.activeTopMenu}">
      <a href="/back-office/stats">
        <span class="icon icon-stats"></span>
        <span class="hidden-mobile">
          &nbsp;&nbsp;Statistics
        </span>
      </a>
    </li>
    
    <li class="pmp-menu-item"
        data-ng-class="{restricted: true != globals.logged,
                  active: 'articles'==globals.activeTopMenu}">
      <a href="/back-office/articles">
        <span class="icon icon-blog"></span>
        <span class="hidden-mobile">
          &nbsp;&nbsp;Articles
        </span>
      </a>
    </li>

    <li class="pmp-menu-item"
        data-ng-class="{restricted: true != globals.logged,
                  active: 'reports'==globals.activeTopMenu}">
      <a href="/back-office/reports">
        <span class="icon icon-signup"></span>
        <span class="hidden-mobile">
          &nbsp;&nbsp;Reports
        </span>
      </a>
    </li>

    <li class="pmp-menu-item pmp-menu-item-exit hidden-mobile" data-ng-class="{restricted: true != globals.logged}">
      <a href="#" data-ng-click="logout()">
        <span class="icon icon-exit"></span>
        <span class="hidden-mobile">
          &nbsp;&nbsp;Logout
        </span>
      </a>
    </li>

    <li class="pmp-menu-item pmp-menu-item-exit">
      <a href="/">
        <span class="icon icon-earth"></span>
        <span class="hidden-mobile">
          &nbsp;&nbsp;Back to website
        </span>
      </a>
    </li>
  </ul>

  <h1 class="pmp-main-menu-title hidden-desktop">
    <a href="/back-office">
      <span class="icon icon-dashboard"></span>&nbsp;&nbsp;
      Pampattitu.de
    </a>
  </h1>

  <div class="menu-footer">
    Made by <a href="/about">Guillaume &laquo;Pampa&raquo; Delahodde</a>
  </div>
</div>
