<div class="cell-2 cell-mobile-3" data-ng-show="true == articleExists">
  <div class="hidden-mobile">
    <button type="button" class="button button-error button-labeled" data-ng-click="deleteArticle()">
      <span class="button-label"><span class="icon icon-remove"></span></span>
      Delete
    </button>
  </div>

  <div class="hidden-desktop">
    <button type="button" class="button button-error" data-ng-click="deleteArticle()">
      <span class="icon icon-remove"></span>
    </button>
  </div>
</div>

<!-- Padd -->
<div class="cell-4 hidden-mobile" data-ng-hide="true == articleExists">
  <!-- If article does not exist yet, padd to replace delete button -->
</div>
<!-- !Padd -->

<div class="cell-2" data-ng-class="{'cell-mobile-3': true == articleExists, 'hidden-desktop': false == articleExists, 'hidden-mobile': false == articleExists}">
  <div class="hidden-mobile">
    <button type="button" class="button button-star button-labeled" data-ng-click="setFeaturedArticle()">
      <span class="button-label"><span class="icon icon-star"></span></span>
      Feature
    </button>
  </div>

  <div class="hidden-desktop">
    <button type="button" class="button button-star" data-ng-click="setFeaturedArticle()">
      <span class="icon icon-star"></span>
    </button>
  </div>
</div>

<div class="cell-2" data-ng-class="{'cell-mobile-3': true == articleExists, 'cell-mobile-6': false == articleExists}">
  <div class="hidden-mobile">
    <button type="button" class="button button-info button-labeled" data-ng-click="previewArticle()">
      <span class="button-label"><span class="icon icon-eye"></span></span>
      Preview
    </button>
  </div>

  <div class="hidden-desktop">
    <button type="button" class="button button-info" data-ng-click="previewArticle()">
      <span class="icon icon-eye"></span>
    </button>
  </div>
</div>

<div class="cell-2" data-ng-class="{'cell-mobile-3': true == articleExists, 'cell-mobile-6': false == articleExists}">
  <div class="hidden-mobile">
    <button type="button" class="button button-success button-labeled" data-ng-click="saveArticle()">
      <span class="button-label"><span class="icon icon-disk"></span></span>
      Save
    </button>
  </div>

  <div class="hidden-desktop">
    <button type="button" class="button button-success" data-ng-click="saveArticle()">
      <span class="icon icon-disk"></span>
    </button>
  </div>
</div>
