@import '_pmp.generic';

$date-vignette-background-color:                        $teal;
$date-vignette-background-dark-color:                   $teal-darker;

$featured-vignette-background-color:                    $yellow;
$featured-vignette-background-dark-color:               $yellow-darker;

$news-vignette-background-color:                        $blue;
$news-vignette-background-dark-color:                   $blue-darker;
$news-vignette-button-background-hover-color:           $blue-light;
$news-vignette-button-background-focus-color:           $blue-dark;

$life-vignette-background-color:                        $pink;
$life-vignette-background-dark-color:                   $pink-darker;
$life-vignette-button-background-hover-color:           $pink-light;
$life-vignette-button-background-focus-color:           $pink-dark;

$project-vignette-background-color:                     $purple;
$project-vignette-background-dark-color:                $purple-darker;
$project-vignette-button-background-hover-color:        $purple-light;
$project-vignette-button-background-focus-color:        $purple-dark;

$tutorial-vignette-background-color:                    $green;
$tutorial-vignette-background-dark-color:               $green-darker;
$tutorial-vignette-button-background-hover-color:       $green-light;
$tutorial-vignette-button-background-focus-color:       $green-dark;

$flash-vignette-background-color:                       $orange;
$flash-vignette-background-dark-color:                  $orange-darker;
$flash-vignette-button-background-hover-color:          $orange-light;
$flash-vignette-button-background-focus-color:          $orange-dark;


/* Box vignettes */
.box-vignette-left {
    @extend .fronter;

    position: absolute;
    top: -1rem;
    left: -1rem;

    margin: 0;
    padding: 0.3em 0.6em;

    color: $white-mild;

    background-color: $green;

    &:after {
        content: "";

        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -6px;
        left: 0;
        z-index: -1;

        border-style: solid;
        border-width: 0 16px 6px 0;
        border-color: transparent $green-darker transparent transparent; /* TMP */
    }
}

.box-vignette-right {
    @extend .fronter;

    position: absolute;
    top: -1rem;
    right: -1rem;

    margin: 0;
    padding: 0.3em 0.6em;

    color: $white-mild;

    background-color: $green; /* TMP */

    &:after {
        content: "";

        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -6px;
        right: 0;
        z-index: -1;

        border-style: solid;
        border-width: 0 0 6px 16px;
        border-color: transparent transparent transparent $green-darker; /* TMP */
    }
}

.twitter-vignette {
    color: $white-mild;

    background-color: $twitter-color;
}
.box-vignette-left.twitter-vignette:after {
    border-color: transparent $twitter-color-dark transparent transparent;
}
.box-vignette-right.twitter-vignette:after {
    border-color: transparent transparent transparent $twitter-color-dark;
}
/* !Box vignettes */

/* Vignettes */
.featured-vignette {
    font-size: 1.4em;
    background-color: $featured-vignette-background-color;

    &:after {
        border-color: transparent transparent transparent $featured-vignette-background-dark-color;
    }
}

.article-type-vignette {
    font-size: 1.2em;
}

.news-vignette {
    @extend .article-type-vignette;
    background-color: $news-vignette-background-color;

    &:after {
        border-color: transparent $news-vignette-background-dark-color transparent transparent;
    }

    &.vignette-button:hover {
        background-color: $news-vignette-button-background-hover-color;
    }
    &.vignette-button:active {
        background-color: $news-vignette-button-background-focus-color;
    }
}

.life-vignette {
    @extend .article-type-vignette;
    background-color: $life-vignette-background-color;

    &:after {
        border-color: transparent $life-vignette-background-dark-color transparent transparent;
    }

    &.vignette-button:hover {
        background-color: $life-vignette-button-background-hover-color;
    }
    &.vignette-button:active {
        background-color: $life-vignette-button-background-focus-color;
    }
}

.project-vignette {
    @extend .article-type-vignette;
    background-color: $project-vignette-background-color;

    &:after {
        border-color: transparent $project-vignette-background-dark-color transparent transparent;
    }

    &.vignette-button:hover {
        background-color: $project-vignette-button-background-hover-color;
    }
    &.vignette-button:active {
        background-color: $project-vignette-button-background-focus-color;
    }
}

.tutorial-vignette {
    @extend .article-type-vignette;
    background-color: $tutorial-vignette-background-color;

    &:after {
        border-color: transparent $tutorial-vignette-background-dark-color transparent transparent;
    }

    &.vignette-button:hover {
        background-color: $tutorial-vignette-button-background-hover-color;
    }
    &.vignette-button:active {
        background-color: $tutorial-vignette-button-background-focus-color;
    }
}

.flash-vignette {
    @extend .article-type-vignette;
    background-color: $flash-vignette-background-color;

    &:after {
        border-color: transparent $flash-vignette-background-dark-color transparent transparent;
    }

    &.vignette-button:hover {
        background-color: $flash-vignette-button-background-hover-color;
    }
    &.vignette-button:active {
        background-color: $flash-vignette-button-background-focus-color;
    }
}

.date-vignette {
    top: 2.1em;

    font-size: 0.7em;

    background-color: $date-vignette-background-color;

    &:after {
        border-color: transparent $date-vignette-background-dark-color transparent transparent;
    }
}
/* !Vignettes */
