@import 'icomoon';

$lang-keyword-text-color:               rgb(85, 255, 255);
$lang-literal-text-color:               rgb(255, 0, 255);
$lang-string-text-color:                rgb(0, 170, 0);
$lang-number-text-color:                rgb(255, 85, 0);
$lang-comment-text-color:               rgb(220, 220, 220);
$lang-comment-text-opacity:             0.9;

$lang-title-text-color:                 rgb(85, 85, 255);
$lang-attribute-text-color:             rgb(170, 85, 0);
$lang-value-text-color:                 rgb(0, 170, 0);

/* Back-office Markdown editor */
.pmp-md {
    width: 100%;

    .pmp-md-controls {
        @extend .clearfix;

        width: 100%;

        list-style-type: none;

        margin: 0;
        padding: 0;

        color: $black-mild;

        background-color: $white-milder;
        border-bottom: 3px solid rgb(160, 160, 160);

        .pmp-md-control,
        .pmp-md-separator {
            width: 6.25%;
            min-height: 1px;
            height: 2.2rem; /* We use rem because text size is not the same between buttons */
            display: block;
            float: left;

            margin: 0;
            padding: 0.6em 0.6em;

            text-align: center;

            @media only screen and (max-width: 991px) {
                width: 12.5%;
                height: 2.4rem; /* We use rem because text size is not the same between buttons */
            }
        }

        .pmp-md-control {
            transition: background-color 200ms;

            &:hover {
                cursor: pointer;
                background-color: $white-mild;
            }
            &:active { background-color: $white-milderer; }

            &.pmp-md-title {
                @extend .icon;

                padding: 0.5em 0.6em;

                &:before {
                    content: 'H';
                    font-family: serif;
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }

            &.pmp-md-subtitle {
                @extend .icon;

                padding: 0.5em 0.6em;

                &:before {
                    content: 'H';
                    font-family: serif;
                    font-size: 0.9em;
                    font-weight: bold;
                }
            }

            &.pmp-md-paragraph {
                @extend .icon;

                padding: 0.4em 0.6em;

                &:before {
                    content: '\00B6';
                    font-family: sans-serif;
                    font-weight: bold;
                }
            }


            &.pmp-md-bold {
                @extend .icon;
                @extend .icon-bold;
            }

            &.pmp-md-italic {
                @extend .icon;
                @extend .icon-italic;
            }

            &.pmp-md-strikethrough {
                @extend .icon;
                @extend .icon-strikethrough;
            }

            &.pmp-md-underline {
                @extend .icon;
                @extend .icon-underline;
            }

            &.pmp-md-picture {
                @extend .icon;
                @extend .icon-image;
            }

            &.pmp-md-picture-small {
                @extend .icon;
                @extend .icon-image;

                font-size: 0.8em;
                padding: 1em 0 0 0;
            }

            &.pmp-md-link {
                @extend .icon;
                @extend .icon-link;
            }

            &.pmp-md-frame {
                @extend .icon;
                @extend .icon-insert-template;
            }


            &.pmp-md-quote {
                @extend .icon;
                @extend .icon-quotes-left;
            }

            &.pmp-md-code {
                @extend .icon;
                @extend .icon-code;
            }

            &.pmp-md-comment {
                @extend .icon;
                @extend .icon-bubbles4;
            }

            &.pmp-md-tldr {
                @extend .icon;

                &:before {
                    content: '\00B7\00B7\00B7';
                    font-weight: bold;
                }
            }

            &.pmp-md-align-left {
                @extend .icon;
                @extend .icon-paragraph-left;
            }

            &.pmp-md-align-center {
                @extend .icon;
                @extend .icon-paragraph-center;
            }

            &.pmp-md-align-right {
                @extend .icon;
                @extend .icon-paragraph-right;
            }

            &.pmp-md-align-justify {
                @extend .icon;
                @extend .icon-paragraph-justify;
            }
        }

        @media only screen and (max-width: 991px) {
            .pmp-md-separator-desktop {
                width: 0;
                display: none;
                margin: 0;
            }
        }

        @media only screen and (min-width: 992px) {
            .pmp-md-separator-mobile {
                width: 0;
                display: none;
                margin: 0;
            }
        }
    }

    .markItUpHeader ul { /* List of control buttons */
        @extend .pmp-md-controls;
    }
}
/* !Back-office Markdown editor */

/* Generated text from Markdown */
.pmp-md-generated {
    text-align: left;

    .no-text-indent { text-indent: 0; }

    .big-margin   { margin: 1em auto; }
    .small-margin { margin: 0.6em auto; }

    h1 {
        @extend .big-margin;
        @extend .no-text-indent;

        display: block;

        font-size: 1.4em;
    }

    h2 {
        @extend .big-margin;
        @extend .no-text-indent;

        display: block;

        margin-left: 0.4em;

        color: $black-milderer;
        font-size: 1.2em;
    }

    p {
        @extend .big-margin;

        margin: 0.4em 0;
        padding: 0;

        line-height: 1.3em;
    }

    b {
        font-weight: bold;
    }

    i {
        font-style: italic;
    }

    s {
        text-decoration: line-through;
    }

    u {
        text-decoration: underline;
    }

    img {
        @extend .small-margin;
        @extend .no-text-indent;
        @extend .inline-block;

        max-width: 90%;
        max-height: 40vh;

        &.img-small {
            max-width: 33%;
            max-height: 15vh;

        }
    }

    a {
    }

    blockquote {
        @extend .small-margin;
        @extend .no-text-indent;

        display: block;

        margin-right: 1.5em;
        padding: 0.2em 0.4em;

        font-size: 0.9em;
        quotes: "\201C""\201D""\2018""\2019";

        &:before {
            content: open-quote;

            line-height: 0.1em;
            margin-right: 0.1em;
            vertical-align: -0.4em;

            color: rgba(32, 32, 32, 0.5);
            font-size: 2.4em;
        }
    }

    code.md-code {
        @extend .block;
        @extend .small-margin;
        @extend .no-text-indent;

        width: 100%;
        overflow: auto;

        padding: 0.4em 0.8em;

        color: $white-mild;
        font-size: 0.8em;
        font-family: monospace;

        background-color: rgb(24, 8, 32); /* TMP */
    }

    code.md-codespan {
        @extend .small-margin;
        @extend .no-text-indent;

        display: inline;

        margin: -0.1em 0;
        padding: 0.1em 0.2em;
        vertical-align: text-bottom;

        color: $white-mild;
        font-size: 0.8em;
        font-family: monospace;

        background-color: rgb(24, 8, 32); /* TMP */
    }

    .md-code,
    .md-codespan {
        /* Syntactic coloration */
        &.md-code-lang-cpp,
        &.md-code-lang-js,
        &.md-code-lang-javascript {
            .lang-keyword {
                color: $lang-keyword-text-color;
                font-weight: bold;
            }

            .lang-literal {
                color: $lang-literal-text-color;
            }

            .lang-string {
                color: $lang-string-text-color;
            }

            .lang-number {
                color: $lang-number-text-color;
            }

            .lang-comment {
                opacity: $lang-comment-text-opacity;

                color: $lang-comment-text-color;
            }
        }

        &.md-code-lang-html,
        &.md-code-lang-xml {
            .lang-tag {
                .lang-title {
                    color: $lang-title-text-color;
                    font-weight: bold;
                }

                .lang-attribute {
                    color: $lang-attribute-text-color;
                }

                .lang-value {
                    color: $lang-value-text-color;
                }
            }
        }
        /* !Syntactic coloration */
    }

    span.comment {
        color: rgb(80, 80, 80);
        /* opacity: 0.75; */

        &:before { content: '\2014\20'; }
        &:after  { content: '\20\2014'; }
    }

    p.tldr {
        @extend .clearfix;
        @extend .big-margin;
        @extend .no-text-indent;

        display: block;

        margin-top: 1.5em;
        padding: 0.3em 0.6em;

        background-color: rgba(0, 0, 0, 0.08);

        &:before {
            @extend .inline-block;

            content: 'tl;dr';
            float: left;

            margin: 0 0.4em 0 0;

            color: rgba(32, 32, 32, 0.5);
            font-size: 1.4em;
            font-weight: bold;
        }
    }

    div.frame {
        @extend .hard-shadow;

        margin: 0.4em 0;
        padding: 0.6em;

        background-color: $white;
    }

    div.align-left {
        text-align: left;
    }

    div.align-center {
        text-align: center;
    }

    div.align-right {
        text-align: right;
    }

    div.align-justify {
        text-align: justify;
    }

    div.float-left {
        float: left;
    }

    div.float-right {
        float: right;
    }
}
/* !Generated text from Markdown */
