/* Color defines */
$transparent:           rgba(0, 0, 0, 0);

$black:                 rgb(0, 0, 0);
$black-mild:            rgb(32, 32, 32);
$black-milder:          rgb(64, 64, 64);

$white:                 rgb(255, 255, 255);
$white-mild:            rgb(240, 240, 240);
$white-milder:            rgb(224, 224, 224);
/* !Color defines */

/* General defines */
$selection-text-color:  $white-mild;
$selection-background-color:    rgb(80, 152, 80);

$link-text-color:       rgb(32, 128, 32);
$link-text-hover-color: rgb(48, 160, 48);
$link-text-focus-color: rgb(24,  96, 24);

$harder-shadow-color:   rgba(0, 0, 0, 0.8);
$hard-shadow-color:     rgba(0, 0, 0, 0.6);
$soft-shadow-color:     rgba(0, 0, 0, 0.3);

$button-default-text-color:     $white-mild;
$button-default-background-color:       rgb(160, 160, 160);
$button-default-hover-background-color: rgb(192, 192, 192);
$button-default-focus-background-color: rgb(128, 128, 128);

$button-github-background-color:        rgb(238, 185, 153);
$button-github-hover-background-color:  rgb(246, 207, 179);
$button-github-focus-background-color:  rgb(190, 148, 122);

$button-facebook-background-color:      rgb(59, 89, 152);
$button-facebook-hover-background-color: rgb(98, 122, 172);
$button-facebook-focus-background-color: rgb(47, 71, 121);

$twitter-background-color:              rgb(64, 153, 255);
$twitter-background-color-dark:         rgb(51, 122, 204);
$button-twitter-background-color:       rgb(64, 153, 255);
$button-twitter-hover-background-color: rgb(102, 173, 255);
$button-twitter-focus-background-color: rgb(51, 122, 204);

$button-linkedin-background-color:      rgb(0, 123, 182);
$button-linkedin-hover-background-color: rgb(50, 149, 196);
$button-linkedin-focus-background-color: rgb(0, 98, 145);

$button-rss-background-color:           rgb(255, 98, 0);
$button-rss-hover-background-color:     rgb(255, 129, 50);
$button-rss-focus-background-color:     rgb(204, 78, 0);
/* !General defines */

/* Common classes */
/* On handheld devices */
@media only screen and (max-width: 991px) {
    .hidden-mobile {
        display: none !important;
        margin: 0 !important;
    }

    .hidden-mobile * {
        display: none !important;
        margin: 0 !important;
    }
}
/* !On handheld devices */

/* On desktop devices */
@media only screen and (min-width: 992px) {
    .hidden-desktop {
        display: none !important;
        margin: 0 !important;
    }

    .hidden-desktop * {
        display: none !important;
        margin: 0 !important;
    }
}
/* !On desktop devices */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
*::selection {
    color: $selection-text-color;
    background: $selection-background-color;
}

a {
    color: $link-text-color;
    text-decoration: none;

    transition: color 200ms;

    &:hover { color: $link-text-hover-color; }
    &:active,
    &:focus { color: $link-text-focus-color; }
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

/* Z-index */
.frontest { z-index: 3; }
.fronter { z-index: 2; }
.front { z-index: 1; }
.back { z-index: 0; }
.backer { z-index: -1; }
.backest { z-index: -2; }
/* !Z-index */

/* Shadows */
.hard-shadow {
    box-shadow: 0 0 4px $hard-shadow-color;
}
.harder-shadow {
    box-shadow: 0 0 6px $harder-shadow-color;
}
.soft-shadow {
    box-shadow: 0 0 2px $soft-shadow-color;
}
.hard-text-shadow {
    text-shadow: 0 0 4px $hard-shadow-color;
}
.harder-text-shadow {
    text-shadow: 0 0 8px $hard-shadow-color;
}
.soft-text-shadow {
    text-shadow: 0 0 2px $soft-shadow-color;
}
/* !Shadows */

/* Buttons */
 button,
.button {
    display: inline-block;

    padding: 0.4em 0.5em;

    color: $button-default-text-color;
    text-decoration: none;
    text-align: center;

    background-color: $button-default-background-color;
    border: 0;
    border-color: $button-default-background-color;
    outline: 0;

    transition: background-color 200ms, border-color 200ms;

    &:hover {
        background-color: $button-default-hover-background-color;
        border-color: $button-default-hover-background-color;
    }

    &:active,
    &:focus {
        background-color: $button-default-focus-background-color;
        border-color: $button-default-focus-background-color;
    }

    &.button-round {
        padding: 0.4em 0.5em;

        border-radius: 100em;
    }

    /* Social buttons */
    &.button-github {
        color: $black-milder;
        background-color: $button-github-background-color;
        border-color: $button-github-background-color;
    }
    &.button-github:hover {
        background-color: $button-github-hover-background-color;
        border-color: $button-github-hover-background-color;
    }
    &.button-github:active,
    &.button-github:focus {
        background-color: $button-github-focus-background-color;
        border-color: $button-github-focus-background-color;
    }

    &.button-facebook {
        background-color: $button-facebook-background-color;
        border-color: $button-facebook-background-color;
    }
    &.button-facebook:hover {
        background-color: $button-facebook-hover-background-color;
        border-color: $button-facebook-hover-background-color;
    }
    &.button-facebook:active,
    &.button-facebook:focus {
        background-color: $button-facebook-focus-background-color;
        border-color: $button-facebook-focus-background-color;
    }

    &.button-twitter {
        background-color: $button-twitter-background-color;
        border-color: $button-twitter-background-color;
    }
    &.button-twitter:hover {
        background-color: $button-twitter-hover-background-color;
        border-color: $button-twitter-hover-background-color;
    }
    &.button-twitter:active,
    &.button-twitter:focus {
        background-color: $button-twitter-focus-background-color;
        border-color: $button-twitter-focus-background-color;
    }

    &.button-linkedin {
        background-color: $button-linkedin-background-color;
        border-color: $button-linkedin-background-color;
    }
    &.button-linkedin:hover {
        background-color: $button-linkedin-hover-background-color;
        border-color: $button-linkedin-hover-background-color;
    }
    &.button-linkedin:active,
    &.button-linkedin:focus {
        background-color: $button-linkedin-focus-background-color;
        border-color: $button-linkedin-focus-background-color;
    }

    &.button-rss {
        background-color: $button-rss-background-color;
        border-color: $button-rss-background-color;
    }
    &.button-rss:hover {
        background-color: $button-rss-hover-background-color;
        border-color: $button-rss-hover-background-color;
    }
    &.button-rss:active,
    &.button-rss:focus {
        background-color: $button-rss-focus-background-color;
        border-color: $button-rss-focus-background-color;
    }
}
/* !Social buttons */
/* !Buttons */

/* Form */
textarea {
    resize: vertical;
}

.input-group {
    @extend .clearfix;

    width: 100%;
    position: relative;

    font-size: 1em;

    .input-group-placeholder {
        @extend .back;

        width: 97.5%;
        position: absolute;
        bottom: 0;
        right: 2.5%;

        padding-bottom: 0.2em;

        color: rgba(32, 32, 32, 0.8); /* TMP */
        font-size: 1em;
        text-align: right;

        transition: color 200ms, font-weight 200ms;
    }

    .input-group-data {
        @extend .front;

        width: 100%;
        float: left;

        padding: 0.2em 0.4em;

        color: $black-mild; /* TMP */

        background-color: $transparent;
        border: 0px solid $transparent;
        border-bottom: 1px solid rgb(0, 128, 0); /* TMP */
        outline: 0;
    }

    .input-group-data.has-data + .input-group-placeholder {
        color: rgba(32, 32, 32, 0.1);
    }
}

.input-group-with-button {
    .input-group-placeholder {
        width: 77.5%;
        right: 22.5%;
    }

    .input-group-data {
        width: 80%;
    }

    .input-group-button {
        width: 20%;
        float: right;

        padding: 0.2em 0.4em;

        font-size: 1em;
        text-align: center;
    }

    .input-group-button {
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
    }
}
/* !Form */

/* Box vignettes */
.box-vignette-left {
    @extend .fronter;

    position: absolute;
    top: -1rem;
    left: -1rem;

    margin: 0;
    padding: 0.3em 0.6em;

    color: $white-mild;

    background-color: rgb(48, 192, 48); /* TMP */

    &:after {
        content: "";

        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -6px;
        left: 0;
        z-index: -1;

        border-style: solid;
        border-width: 0 16px 6px 0;
        border-color: transparent rgb(24, 96, 24) transparent transparent; /* TMP */
    }
}

.box-vignette-right {
    @extend .fronter;

    position: absolute;
    top: -1rem;
    right: -1rem;

    margin: 0;
    padding: 0.3em 0.6em;

    color: $white-mild;

    background-color: rgb(48, 192, 48); /* TMP */

    &:after {
        content: "";

        display: block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: -6px;
        right: 0;
        z-index: -1;

        border-style: solid;
        border-width: 0 0 6px 16px;
        border-color: transparent transparent transparent rgb(24, 96, 24); /* TMP */
    }
}

.twitter-vignette {
    color: $white-mild;

    background-color: $twitter-background-color;
}
.box-vignette-left.twitter-vignette:after {
    border-color: transparent $twitter-background-color-dark transparent transparent;
}
.box-vignette-right.twitter-vignette:after {
    border-color: transparent transparent transparent $twitter-background-color-dark;
}
/* !Box vignettes */

.elem-list {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}
/* !Common classes */
