/* Color defines */
$transparent:                   transparent;

$black:                         rgb(0, 0, 0);
$black-mild:                    adjust-color($black, $lightness:  5%);
$black-milder:                  adjust-color($black, $lightness: 10%);
$black-milderer:                adjust-color($black, $lightness: 15%);

$white:                         rgb(255, 255, 255);
$white-mild:                    adjust-color($white, $lightness:  -5%);
$white-milder:                  adjust-color($white, $lightness: -10%);
$white-milderer:                adjust-color($white, $lightness: -15%);

$grey:                          rgb(128, 128, 128);
$grey-light:                    adjust-color($grey, $lightness: 10%);
$grey-lighter:                  adjust-color($grey, $lightness: 20%);
$grey-dark:                     adjust-color($grey, $lightness: -10%);
$grey-darker:                   adjust-color($grey, $lightness: -20%);

$red:                           rgb(184, 64, 64);
$red-light:                     adjust-color($red, $lightness: 10%);
$red-lighter:                   adjust-color($red, $lightness: 20%);
$red-dark:                      adjust-color($red, $lightness: -10%);
$red-darker:                    adjust-color($red, $lightness: -20%);

$green:                         rgb(80, 152, 80);
$green-light:                   adjust-color($green, $lightness: 10%);
$green-lighter:                 adjust-color($green, $lightness: 20%);
$green-dark:                    adjust-color($green, $lightness: -10%);
$green-darker:                  adjust-color($green, $lightness: -20%);

$blue:                          rgb(32, 80, 152);
$blue-light:                    adjust-color($blue, $lightness: 10%);
$blue-lighter:                  adjust-color($blue, $lightness: 20%);
$blue-dark:                     adjust-color($blue, $lightness: -10%);
$blue-darker:                   adjust-color($blue, $lightness: -20%);

$orange:                        rgb(200, 128, 64);
$orange-light:                  adjust-color($orange, $lightness: 10%);
$orange-lighter:                adjust-color($orange, $lightness: 20%);
$orange-dark:                   adjust-color($orange, $lightness: -10%);
$orange-darker:                 adjust-color($orange, $lightness: -20%);

$yellow:                        rgb(200, 200, 64);
$yellow-light:                  adjust-color($yellow, $lightness: 10%);
$yellow-lighter:                adjust-color($yellow, $lightness: 20%);
$yellow-dark:                   adjust-color($yellow, $lightness: -10%);
$yellow-darker:                 adjust-color($yellow, $lightness: -20%);

$pink:                          rgb(216, 104, 144);
$pink-light:                    adjust-color($pink, $lightness: 10%);
$pink-lighter:                  adjust-color($pink, $lightness: 20%);
$pink-dark:                     adjust-color($pink, $lightness: -10%);
$pink-darker:                   adjust-color($pink, $lightness: -20%);

$purple:                        rgb(112, 48, 120);
$purple-light:                  adjust-color($purple, $lightness: 10%);
$purple-lighter:                adjust-color($purple, $lightness: 20%);
$purple-dark:                   adjust-color($purple, $lightness: -10%);
$purple-darker:                 adjust-color($purple, $lightness: -20%);

$teal:                          rgb(32, 160, 160);
$teal-light:                    adjust-color($teal, $lightness: 10%);
$teal-lighter:                  adjust-color($teal, $lightness: 20%);
$teal-dark:                     adjust-color($teal, $lightness: -10%);
$teal-darker:                   adjust-color($teal, $lightness: -20%);


$facebook-color:                rgb(59, 89, 152);
$facebook-color-light:          adjust-color($facebook-color, $lightness: 10%);
$facebook-color-lighter:        adjust-color($facebook-color, $lightness: 20%);
$facebook-color-dark:           adjust-color($facebook-color, $lightness: -10%);
$facebook-color-darker:         adjust-color($facebook-color, $lightness: -20%);

$github-color:                  rgb(210, 158, 122);
$github-color-light:            adjust-color($github-color, $lightness: 10%);
$github-color-lighter:          adjust-color($github-color, $lightness: 20%);
$github-color-dark:             adjust-color($github-color, $lightness: -10%);
$github-color-darker:           adjust-color($github-color, $lightness: -20%);

$linkedin-color:                rgb(0, 123, 182);
$linkedin-color-light:          adjust-color($linkedin-color, $lightness: 10%);
$linkedin-color-lighter:        adjust-color($linkedin-color, $lightness: 20%);
$linkedin-color-dark:           adjust-color($linkedin-color, $lightness: -10%);
$linkedin-color-darker:         adjust-color($linkedin-color, $lightness: -20%);

$rss-color:                     rgb(250, 155, 57);
$rss-color-light:               adjust-color($rss-color, $lightness: 10%);
$rss-color-lighter:             adjust-color($rss-color, $lightness: 20%);
$rss-color-dark:                adjust-color($rss-color, $lightness: -10%);
$rss-color-darker:              adjust-color($rss-color, $lightness: -20%);

$twitter-color:                 rgb(64, 153, 255);
$twitter-color-light:           adjust-color($twitter-color, $lightness: 10%);
$twitter-color-lighter:         adjust-color($twitter-color, $lightness: 20%);
$twitter-color-dark:            adjust-color($twitter-color, $lightness: -10%);
$twitter-color-darker:          adjust-color($twitter-color, $lightness: -20%);
/* !Color defines */

/* General defines */
$selection-text-color:                          $white-mild;
$selection-background-color:                    $green;

$link-text-color:                               $green;
$link-text-hover-color:                         $green-light;
$link-text-focus-color:                         $green-dark;

$harder-shadow-color:                           rgba($black, 0.8);
$hard-shadow-color:                             rgba($black, 0.6);
$soft-shadow-color:                             rgba($black, 0.3);

$button-default-text-color:                     $white-mild;
$button-default-text-hover-color:               $white-mild;
$button-default-text-focus-color:               $white-mild;
$button-default-background-color:               $grey-light;
$button-default-hover-background-color:         $grey-lighter;
$button-default-focus-background-color:         $grey-darker;

$button-deactivated-text-color:                 $white-mild;
$button-deactivated-background-color:           $grey;

$button-success-text-color:                     $white-mild;
$button-success-background-color:               $green;
$button-success-hover-background-color:         $green-light;
$button-success-focus-background-color:         $green-dark;

$button-info-text-color:                        $white-mild;
$button-info-background-color:                  $blue;
$button-info-hover-background-color:            $blue-light;
$button-info-focus-background-color:            $blue-dark;

$button-warning-text-color:                     $white-mild;
$button-warning-background-color:               $orange;
$button-warning-hover-background-color:         $orange-light;
$button-warning-focus-background-color:         $orange-dark;

$button-error-text-color:                       $white-mild;
$button-error-background-color:                 $red;
$button-error-hover-background-color:           $red-light;
$button-error-focus-background-color:           $red-dark;

$button-star-text-color:                        $white-mild;
$button-star-background-color:                  $yellow;
$button-star-hover-background-color:            $yellow-light;
$button-star-focus-background-color:            $yellow-dark;

$button-github-background-color:                $github-color;
$button-github-hover-background-color:          $github-color-light;
$button-github-focus-background-color:          $github-color-dark;

$button-facebook-background-color:              $facebook-color;
$button-facebook-hover-background-color:        $facebook-color-light;
$button-facebook-focus-background-color:        $facebook-color-dark;

$button-twitter-background-color:               $twitter-color;
$button-twitter-hover-background-color:         $twitter-color-light;
$button-twitter-focus-background-color:         $twitter-color-dark;

$button-linkedin-background-color:              $linkedin-color;
$button-linkedin-hover-background-color:        $linkedin-color-light;
$button-linkedin-focus-background-color:        $linkedin-color-dark;

$button-rss-background-color:                   $rss-color;
$button-rss-hover-background-color:             $rss-color-light;
$button-rss-focus-background-color:             $rss-color-dark;
/* !General defines */

/* Common classes */
/* On handheld devices */
@media only screen and (max-width: 991px) {
    .hidden-mobile {
        display: none !important;
        margin: 0 !important;
    }

    .hidden-mobile * {
        display: none !important;
        margin: 0 !important;
    }
}
/* !On handheld devices */

/* On desktop devices */
@media only screen and (min-width: 992px) {
    .hidden-desktop {
        display: none !important;
        margin: 0 !important;
    }

    .hidden-desktop * {
        display: none !important;
        margin: 0 !important;
    }
}
/* !On desktop devices */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
*::selection {
    color: $selection-text-color;
    background: $selection-background-color;
}

a {
    color: $link-text-color;
    text-decoration: none;

    transition: color 200ms;

    &:hover { color: $link-text-hover-color; }
    &:active { color: $link-text-focus-color; }

    &.external-link .external-icon {
        font-size: 0.6em;
        vertical-align: super;
    }
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

/* Z-index */
.frontestest { z-index: 4; }
.frontest { z-index: 3; }
.fronter { z-index: 2; }
.front { z-index: 1; }
.back { z-index: 0; }
.backer { z-index: -1; }
.backest { z-index: -2; }
/* !Z-index */

/* Shadows */
.hard-shadow {
    box-shadow: 0 1px 2px $hard-shadow-color;
}
.harder-shadow {
    box-shadow: 0 2px 3px $harder-shadow-color;
}
.soft-shadow {
    box-shadow: 0 1px 2px $soft-shadow-color;
}
.hard-text-shadow {
    text-shadow: 0 0 4px $hard-shadow-color, 0 0 4px $hard-shadow-color;
}
.harder-text-shadow {
    text-shadow: 0 0 8px $hard-shadow-color, 0 0 8px $hard-shadow-color, 0 0 8px $hard-shadow-color;
}
.soft-text-shadow {
    text-shadow: 0 0 2px $soft-shadow-color;
}
/* !Shadows */

/* Buttons */
 button,
.button {
    display: inline-block;

    padding: 0.4em 0.5em;

    color: $button-default-text-color;
    text-decoration: none;
    text-align: center;

    background-color: $button-default-background-color;
    border: 0;
    border-color: $button-default-background-color;
    outline: 0;

    transition: background-color 200ms, border-color 200ms;

    &:hover {
        color: $button-default-text-hover-color;
        background-color: $button-default-hover-background-color;
        border-color: $button-default-hover-background-color;
    }

    &:active {
        color: $button-default-text-focus-color;
        background-color: $button-default-focus-background-color;
        border-color: $button-default-focus-background-color;
    }

    &.button-default {
        background-color: $button-default-background-color;
        border-color: $button-default-background-color;

        &:hover {
            background-color: $button-default-hover-background-color;
            border-color: $button-default-hover-background-color;
        }

        &:active {
            background-color: $button-default-focus-background-color;
            border-color: $button-default-focus-background-color;
        }
    }

    &.button-deactivated {
        cursor: normal;

        background-color: $button-deactivated-background-color;
        border-color: $button-deactivated-background-color;
    }

    &.button-success {
        background-color: $button-success-background-color;
        border-color: $button-success-background-color;

        &:hover {
            background-color: $button-success-hover-background-color;
            border-color: $button-success-hover-background-color;
        }

        &:active {
            background-color: $button-success-focus-background-color;
            border-color: $button-success-focus-background-color;
        }
    }

    &.button-info {
        background-color: $button-info-background-color;
        border-color: $button-info-background-color;

        &:hover {
            background-color: $button-info-hover-background-color;
            border-color: $button-info-hover-background-color;
        }

        &:active {
            background-color: $button-info-focus-background-color;
            border-color: $button-info-focus-background-color;
        }
    }

    &.button-warning {
        background-color: $button-warning-background-color;
        border-color: $button-warning-background-color;

        &:hover {
            background-color: $button-warning-hover-background-color;
            border-color: $button-warning-hover-background-color;
        }

        &:active {
            background-color: $button-warning-focus-background-color;
            border-color: $button-warning-focus-background-color;
        }
    }

    &.button-error {
        background-color: $button-error-background-color;
        border-color: $button-error-background-color;

        &:hover {
            background-color: $button-error-hover-background-color;
            border-color: $button-error-hover-background-color;
        }

        &:active {
            background-color: $button-error-focus-background-color;
            border-color: $button-error-focus-background-color;
        }
    }

    &.button-star {
        background-color: $button-star-background-color;
        border-color: $button-star-background-color;

        &:hover {
            background-color: $button-star-hover-background-color;
            border-color: $button-star-hover-background-color;
        }

        &:active {
            background-color: $button-star-focus-background-color;
            border-color: $button-star-focus-background-color;
        }
    }

    &.button-labeled {
        overflow: hidden;

        padding: 0 0.4em 0 0;

        > .button-label {
            @extend .inline-block;

            margin-right: 0.4em;
            padding: 0.4em 0.5em;

            background-color: rgba($black, 0.2);
        }
    }

    &.button-labeled-inverse {
        overflow: hidden;

        padding: 0 0 0 0.4em;
    }

    &.button-labeled-inverse .button-label {
        @extend .inline-block;

        margin-left: 0.4em;
        padding: 0.4em 0.5em;

        background-color: rgba($black, 0.2);
    }

    &.button-round {
        padding: 0.4em 0.5em;

        border-radius: 100em;
    }

    /* Social buttons */
    &.button-github {
        background-color: $button-github-background-color;
        border-color: $button-github-background-color;
    }
    &.button-github:hover {
        background-color: $button-github-hover-background-color;
        border-color: $button-github-hover-background-color;
    }
    &.button-github:active {
        background-color: $button-github-focus-background-color;
        border-color: $button-github-focus-background-color;
    }

    &.button-facebook {
        background-color: $button-facebook-background-color;
        border-color: $button-facebook-background-color;
    }
    &.button-facebook:hover {
        background-color: $button-facebook-hover-background-color;
        border-color: $button-facebook-hover-background-color;
    }
    &.button-facebook:active {
        background-color: $button-facebook-focus-background-color;
        border-color: $button-facebook-focus-background-color;
    }

    &.button-twitter {
        background-color: $button-twitter-background-color;
        border-color: $button-twitter-background-color;
    }
    &.button-twitter:hover {
        background-color: $button-twitter-hover-background-color;
        border-color: $button-twitter-hover-background-color;
    }
    &.button-twitter:active {
        background-color: $button-twitter-focus-background-color;
        border-color: $button-twitter-focus-background-color;
    }

    &.button-linkedin {
        background-color: $button-linkedin-background-color;
        border-color: $button-linkedin-background-color;
    }
    &.button-linkedin:hover {
        background-color: $button-linkedin-hover-background-color;
        border-color: $button-linkedin-hover-background-color;
    }
    &.button-linkedin:active {
        background-color: $button-linkedin-focus-background-color;
        border-color: $button-linkedin-focus-background-color;
    }

    &.button-rss {
        background-color: $button-rss-background-color;
        border-color: $button-rss-background-color;
    }
    &.button-rss:hover {
        background-color: $button-rss-hover-background-color;
        border-color: $button-rss-hover-background-color;
    }
    &.button-rss:active {
        background-color: $button-rss-focus-background-color;
        border-color: $button-rss-focus-background-color;
    }
}
/* !Social buttons */
/* !Buttons */

/* Form */
textarea {
    resize: vertical;
}

/* Control */
input.control,
textarea.control {
    @extend .block;

    width: 100%;

    color: $black-mild;

    padding: 0.3em 0.6em;

    background-color: rgba($black, 0.05);
    border: 0;
    border-left: 3px solid $grey-light;
    outline: 0;

    transition: background-color 200ms, border-color 200ms;

    &:hover {
        background-color: rgba($black, 0.04);
        border-color: $grey-lighter;
    }

    &:focus {
        color: $black;

        background-color: rgba($black, 0.06);
        border-color: $grey;
    }

    &.control-inline {
        @extend .inline-block;
        width: auto;
    }

    &.control-default {
        &:hover {}
        &:focus {}
    }

    &.control-success {
        border-color: $green;

        &:hover { border-color: $green-light; }
        &:focus {
            background-color: rgba(48, 104, 48, 0.1); /* TMP */
            border-color: $green-dark;
        }
    }

    &.control-info {
        border-color: $blue;

        &:hover { border-color: $blue-light; }
        &:focus {
            background-color: rgba(48, 48, 104, 0.1); /* TMP */
            border-color: $blue-dark;
        }
    }

    &.control-warning {
        border-color: $orange;

        &:hover { border-color: $orange-light; }
        &:focus {
            background-color: rgba(160, 88, 32, 0.1); /* TMP */
            border-color: $orange-dark;
        }
    }

    &.control-error {
        border-color: $red;

        &:hover { border-color: $red-light; }
        &:focus {
            background-color: rgba(128, 40, 40, 0.1); /* TMP */
            border-color: $red-dark;
        }
    }

    &.control[disabled] {
        cursor: not-allowed;

        color: $grey-darker;
    }
}

.control-group {
    @extend .clearfix;

    .control {
        width: 80%;
        float: left;

        margin-left: 0;
        margin-right: 0;
    }

    .control-button {
        width: 20%;
        float: right;

        margin-left: 0;
        margin-right: 0;
        padding: 0.3em 0.6em;

        font-size: 1em;
    }
}
/* !Control */
/* !Form */

.elem-list {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}

/* Remove all padding */
.no-padding {
    padding: 0 !important;
}
/* !Common classes */
