@import '_pmp.generic';

$news-text-color:               $white-mild;
$news-background-color:         $blue-light;
$news-background-image:         none; /* url('http://i.imgur.com/njciCqL.png'); */

$personal-text-color:           $white-mild;
$personal-background-color:     $grey-light;
$personal-background-image:     none; /* url('http://i.imgur.com/XN9Sw6Y.png'); */

$project-text-color:            $white-mild;
$project-background-color:      $green-light;
$project-background-image:      none; /* url('http://i.imgur.com/ctMQlav.png'); */

$tutorial-text-color:           $white-mild;
$tutorial-background-color:     $purple-light;
$tutorial-background-image:     none; /* url('http://i.imgur.com/CloZnzT.png'); */

$flash-text-color:              $white-mild;
$flash-background-color:        $yellow-light;
$flash-background-image:        none; /* url('http://i.imgur.com/Wu3qOoi.png'); */

$box-about-text-color:          $white-mild;
$box-about-background-color:    $blue;

$box-search-text-color:         $white-mild;
$box-search-background-color:   $green;

$box-social-text-color:         $white-mild;
$box-social-background-color:   $orange;

$box-inverse-text-color:        $white-mild;
$box-inverse-background-color:  $black-milder;

$article-border-color:          $black-milder;

$article-title-image:           url('http://i.imgur.com/EeRiLZ8.png');

$tag-icon-text-color:           $white-mild;
$tag-icon-background-color:     $article-border-color;

$tag-text-color:                $white-milder;
$tag-background-color:          $blue;
$tag-background-hover-color:    $blue-light;
$tag-background-active-color:   $blue-dark;

.pmp-page-content-box,
.pmp-page-menu-box {
    .pmp-box-type {
        margin:                     0;
        padding:                    0.3em;

        color:                      $black-mild;
        text-transform:             uppercase;

        background-color:           $white-mild;

        &.pmp-box-type-news {
            color:                  $news-text-color;
            background-color:       $news-background-color;
            background-image:       $news-background-image;
        }

        &.pmp-box-type-personal {
            color:                  $personal-text-color;
            background-color:       $personal-background-color;
            background-image:       $personal-background-image;
        }

        &.pmp-box-type-project {
            color:                  $project-text-color;
            background-color:       $project-background-color;
            background-image:       $project-background-image;
        }

        &.pmp-box-type-tutorial {
            color:                  $tutorial-text-color;
            background-color:       $tutorial-background-color;
            background-image:       $tutorial-background-image;
        }

        &.pmp-box-type-flash {
            color:                  $flash-text-color;
            background-color:       $flash-background-color;
            background-image:       $flash-background-image;
        }

        &.pmp-box-type-about {
            color:                  $box-about-text-color;
            background-color:       $box-about-background-color;
        }

        &.pmp-box-type-search {
            color:                  $box-search-text-color;
            background-color:       $box-search-background-color;
        }

        &.pmp-box-type-social {
            color:                  $box-social-text-color;
            background-color:       $box-social-background-color;
        }

        &.pmp-box-type-twitter {
            color:                  $white-mild;
            background-color:       $twitter-color;
        }

        &.pmp-box-type-inverse {
            color:                  $box-inverse-text-color;
            background-color:       $box-inverse-background-color;
        }
    }

    .pmp-article {
        @media only screen and (max-width: 991px) {
            font-size:                  1.1em;
        }

        &.pmp-article-small {
        }

        .pmp-article-content {
            text-align:                 left;

            .pmp-article-title {
                margin:                 0;
                padding:                0.6em 0.8em;

                text-align:             center;
                line-height:            1em;

                background-image:       $article-title-image;

                .pmp-article-date {
                    font-size:          0.4em;
                }
            }
            @media only screen and (max-width: 991px) {
                h1.pmp-article-title {
                    font-size:          1.65em;
                }

                h2.pmp-article-title {
                    font-size:          1.5em;
                }

                h3.pmp-article-title {
                    font-size:          1.25em;
                }
            }

            .pmp-article-tags {
                clear:                  both;

                font-size:              0.9em;

                @media only screen and (max-width: 991px) {
                    font-size:          0.8em;
                }

                .pmp-article-tag-icon {
                    float:              left;

                    padding:            0.4em 0.8em;

                    color:              $tag-icon-text-color;

                    background-color:   $tag-icon-background-color;

                    @media only screen and (max-width: 991px) {
                        padding:        0.3em 0.6em;
                    }
                }

                .pmp-article-tag-list {
                    overflow:           auto;

                    padding:            0.4em 0.8em;

                    @media only screen and (max-width: 991px) {
                        padding:        0.3em 0.1em;
                    }

                    .pmp-article-tag {
                        margin:         0 0.2em;
                        padding:        0.15em 0.4em;

                        color:          $tag-text-color;
                        border-radius:  0.2em;
                        background-color: $tag-background-color;

                        transition:     background-color 200ms;

                        @media only screen and (max-width: 991px) {
                            margin:     0 0.1em;
                        }

                        &:hover {
                            background-color: $tag-background-hover-color;
                        }

                        &:active {
                            background-color: $tag-background-active-color;
                        }
                    }
                }
            }

            .pmp-article-text {
                overflow:                       auto;

                padding:                        1em 1.5em;

                @media only screen and (max-width: 991px) {
                    padding:                    1em 1em;
                }

                h1 {
                    margin-top: 1em;
                    padding: 0.2em 0.4em;

                    border-top: 1px solid $green;
                    border-left: 0.3em solid $green;
                }

                h2 {
                    margin-top: 1em;
                    padding: 0.2em 0.4em;

                    border-top: 1px solid adjust-color($green, $lightness: 15%);
                    border-left: 0.3em solid adjust-color($green, $lightness: 15%);
                }
            }

            .pmp-article-comments {
                padding:                        0.6em 1.5em;
            }
        }
    }

    /* See also */
    .pmp-see-also {
        background-color: $black-milder;

        .pmp-related-article-list {
            a.pmp-box-type {
                @extend .block;

                padding: 0.2em;

                font-weight: bold;

                .pmp-article-title {
                    font-weight: normal;
                    text-transform: none;
                }
            }

            @media only screen and (min-width: 992px) {
                .cell-1 {
                    width: 49.75%;

                    margin-top: 0.5%;
                    padding: 0;

                    &:nth-child(odd) { margin-right: 0.25%; }
                    &:nth-child(even) { margin-left: 0.25%; }
                }
            }
            @media only screen and (max-width: 991px) {
                .cell-mobile-2 {
                    margin-top: 0.4em;

                    padding: 0;
                }
            }
        }
    }
    /* !See also */

    hr.pmp-break {
        height:                                 0.4em;

        margin:                                 0;
        padding:                                0;

        background-color:                       $article-border-color;
        border:                                 0;
    }
}

/* Search */
.pmp-search-input-box {
    @extend .fronter;
    font-size: 1.1em;

    input.control {
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        background-color: $white-milder;
    }

    button.control-button {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}


.pmp-search-found {
    padding: 0.4em 1.2em;

    text-align: left;

    p {
        margin: 0;
        padding: 0;
    }
}
/* !Search */
