@import '_pmp.generic';
@import '_pmp.common';
@import '_pmp.vignette';
@import '_pmp.grid';

$body-text-color:               $black-mild;
$body-background-color:         $white-mild;
$body-background-image:         url('http://i.imgur.com/EeRiLZ8.png');

$main-menu-background-color:    rgb(64, 96, 172);

$main-menu-title-text-color:    $white-mild;

$menu-item-text-color:          $white-mild;
$menu-item-background-color:    rgb(32, 64, 128);

$menu-item-exit-background-color:       rgb(192, 64, 64);
$menu-item-exit-background-hover-color: rgb(216, 88, 88);
$menu-item-exit-background-focus-color: rgb(168, 52, 52);

body {
    min-width: 300px;

    margin: 0;
    padding: 0;

    color: $body-text-color;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    background-color: $body-background-color;
    background-image: $body-background-image;
    background-attachment: fixed;

    @media only screen and (max-width: 991px) {
        margin-top: 2.6em;

        font-size: 18px;
    }
}

* {
    position: relative;
    box-sizing: border-box;
}

/* Main menu/nav */
.pmp-main-menu {
    height: 100vh;
    overflow: auto;

    padding-bottom: 1.2em;

    background-color: $main-menu-background-color;

    @media only screen and (max-width: 991px) {
        height: auto;
        padding-bottom: 0;
    }

    .pmp-main-menu-title {
        @extend .fronter;
        @extend .block;

        margin: 0;
        padding: 0.6em 0.8em;

        font-size: 1.6em;
        text-align: center;

        > a {
            @extend .block;
            color: $main-menu-title-text-color;

            background-color: transparent;
        }
    }

    .pmp-menu-list {
        @extend .frontest;

        margin: 0;
        padding: 0;

        @media only screen and (max-width: 991px) {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            text-align: center;

            &:after {
                content: '';
                clear: both;
                visibility: hidden;
            }
        }

        .pmp-menu-item {
            list-style-type: none;

            color: $menu-item-text-color;
            font-size: 1.1em;

            background-color: $menu-item-background-color;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset;

            transition: background-color 200ms;

            &:hover {
                background-color: rgb(220, 128, 64);
            }
            &:active,
            &:focus {
                background-color: rgb(192, 112, 56);
            }

            @media only screen and (min-width: 992px) {
                &:first-child {
                    border-top: 0;
                }
                &:last-child {
                    box-shadow: none;
                }
            }

            > a {
                @extend .block;

                width: 100%;

                padding: 0.6em 0.8em;

                color: $white-mild; /* TMP */
                text-align: left;

                background-color: transparent;

                @media only screen and (max-width: 991px) {
                    text-align: center;
                }
            }

            &.restricted > a {
                color: transparent;
                text-shadow: 0 0 3px $white-mild; /* TMP */
            }

            &.pmp-menu-item-exit {
                background-color: $menu-item-exit-background-color;

                &:hover { background-color: $menu-item-exit-background-hover-color; }
                &:active,
                &:focus { background-color: $menu-item-exit-background-focus-color; }
            }

            @media only screen and (max-width: 991px) {
                width: 20%;
                display: block;
                float: left;
            }
        }
    }

    .menu-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        padding: 0.4em 0.8em;

        font-size: 0.8em;
        text-align: center;

        background-color: rgba(0, 0, 0, 0.5);

        @media only screen and (max-width: 991px) {
            display: none;
            margin: 0;
        }

        a {
            color: $white-mild;
            font-weight: bold;
        }
    }
}
/* !Main menu/nav */

/* Page content */
.pmp-page-content {
    .pmp-page-content-box {
        .pmp-page-content-box-content {
            padding: 1.25em 1em;

            @media only screen and (max-width: 991px) {
                padding: 1em 0.75em;
            }

            &.no-padd {
                padding: 0;
            }
        }
    }
}

.pmp-page-content {
    .pmp-login {
        @extend .pmp-page-content-box-content;

        max-width: 16em;
        margin: 0 auto;

        .pmp-login-button {
            @extend .block;

            width: 100%;

            margin: 0.4em auto auto auto;
            padding: 0.4em 0.8em;

            font-size: 1.4em;
        }
    }
}

/* Articles */
.pmp-articles {
    & > [class*="cell-"] {
        padding: 0.2em 0.2em;
    }

    .pmp-article {
        @extend .pmp-page-content-box;

        height: 10em;

        [class*="box-vignette"] {
            font-size: 1em;
        }

        .pmp-article-content {
            @extend .pmp-page-content-box-content;

            overflow: hidden;

            &.pmp-new-article {
                font-size: 2em;

                .button {
                    padding: 0.6em 0.8em;
                }
            }

            .pmp-article-title {
                @extend .back;

                height: 3.5em;
                overflow: hidden;

                margin: 0;

                &:after {
                    content: '';

                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    box-shadow: 0 -0.4em 0.4em $pmp-page-box-background-color inset;
                }
            }

            .pmp-article-date {
                color: $black-milder; /* TMP */
                font-size: 0.7em;
            }
        }

        .pmp-article-actions {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .button {
                width: 100%;
            }

            .button.button-activate {
                @extend .button-success;
            }

            .button.button-deactivate {
                @extend .button-default;
            }

            .button.button-edit {
                @extend .button-info;
            }

            .button.button-moderate {
                @extend .button-warning;
            }
        }
    }
}
/* !Articles */
/* !Page content */
