@import '_pmp.generic';
@import '_pmp.common';
@import '_pmp.vignette';
@import '_pmp.grid';
@import '_pmp.bbcode';

$body-text-color:                       $black-mild;
$body-background-color:                 $white-mild;
$body-background-image:                 url('http://i.imgur.com/EeRiLZ8.png');

$main-menu-background-color:            $blue;

$main-menu-title-text-color:            $white-mild;

$menu-item-text-color:                  $white-mild;
$menu-item-background-color:            $blue-dark;
$menu-item-background-hover-color:      $orange-light;
$menu-item-background-active-color:     $orange;

$menu-item-exit-background-color:       $red;
$menu-item-exit-background-hover-color: $red-light;
$menu-item-exit-background-focus-color: $red-dark;

$page-toolbar-background-color:         $main-menu-background-color;

$page-toolbar-item-background-color:            transparent;
$page-toolbar-item-background-hover-color:      rgba($white-mild, 0.1);

$page-toolbar-notification-list-text-color:             $black-mild;
$page-toolbar-notification-list-background-color:       $white-milderer;

$page-toolbar-notification-list-item-border-color:      rgba($black-mild, 0.1);

$page-toolbar-sticker-default-text-color:               $white;
$page-toolbar-sticker-default-background-color:         $grey-lighter;
$page-toolbar-sticker-default-border-color:             $grey;
$page-toolbar-sticker-important-text-color:             $white;
$page-toolbar-sticker-important-background-color:       $orange;
$page-toolbar-sticker-important-border-color:           $orange-darker;
$page-toolbar-sticker-critical-text-color:              $white;
$page-toolbar-sticker-critical-background-color:        $red;
$page-toolbar-sticker-critical-border-color:            $red-darker;

$tag-text-color:                        $white-mild;
$tag-background-color:                  $green;
$tag-background-hover-color:            $green-light;
$tag-background-focus-color:            $green-dark;

body {
    min-width: 300px;

    margin: 0;
    padding: 0;

    color: $body-text-color;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    background-color: $body-background-color;
    background-image: $body-background-image;
    background-attachment: fixed;

    @media only screen and (max-width: 991px) {
        margin-top: 2.6em;

        font-size: 18px;
    }
}

* {
    position: relative;
    box-sizing: border-box;
}

/* Page hider */
.pmp-page-hider {
    @extend .frontestest;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;

    background-color: rgba(0, 0, 0, 0);

    transition: background-color 200ms;

    &.active {
        width: 100%;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.5);
    }
}
/* !Page hider */

/* Confirm box */
.pmp-confirm-box-container {
    @extend .frontestest;

    width: 100%;

    position: fixed;
    top: 20vh;

    .pmp-confirm-box {
        @extend .clearfix;

        width: 40em;
        max-width: 80%;

        margin: auto;

        background-color: $white;

        .pmp-confirm-box-close {
            @extend .frontestest;
            float: right;

            font-size: 0.7em;
        }

        .pmp-confirm-box-content {
            padding: 0.6em 1.2em;

            .pmp-confirm-box-title {
                margin: 0.2em 0;

                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }

            .pmp-confirm-box-text {
                margin: 1em 0;
            }
        }

        .pmp-confirm-box-actions {
            @extend .clearfix;
            padding: 0.6em 1.2em;

            .pmp-confirm-box-refuse-button {
                float: left;
            }

            .pmp-confirm-box-accept-button {
                float: right;
            }
        }
    }
}
/* !Confirm box */

/* Alerts */
.pmp-alerts {
    top: 3em;
}
/* !Alerts */

/* Main menu/nav */
.pmp-main-menu {
    height: 100vh;
    overflow: auto;

    padding-bottom: 1.2em;

    background-color: $main-menu-background-color;

    @media only screen and (min-width: 992px) {
        width: 20%;

        position: fixed;
        top: 0;
        left: 0;
    }

    @media only screen and (max-width: 991px) {
        height: auto;
        padding-bottom: 0;
    }

    .pmp-main-menu-title {
        @extend .fronter;
        @extend .block;

        margin: 0;
        padding: 0.6em 0.8em;

        font-size: 1.6em;
        text-align: center;

        > a {
            @extend .block;
            color: $main-menu-title-text-color;

            background-color: transparent;
        }
    }

    .pmp-menu-list {
        @extend .frontest;

        margin: 0;
        padding: 0;

        @media only screen and (max-width: 991px) {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            text-align: center;

            &:after {
                content: '';
                clear: both;
                visibility: hidden;
            }
        }

        .pmp-menu-item {
            list-style-type: none;

            color: $menu-item-text-color;
            font-size: 1.1em;

            background-color: $menu-item-background-color;
            border-top: 1px solid rgba($white, 0.1);
            box-shadow: 0 -1px 0 rgba($black, 0.2) inset;

            transition: background-color 200ms;

            &:active,
            &.active {
                background-color: $menu-item-background-active-color;
            }

            &:hover {
                background-color: $menu-item-background-hover-color;
            }

            @media only screen and (min-width: 992px) {
                &:first-child {
                    border-top: 0;
                }
                &:last-child {
                    box-shadow: none;
                }
            }

            > a {
                @extend .block;

                width: 100%;

                padding: 0.6em 0.8em;

                color: $white-mild; /* TMP */
                text-align: left;

                background-color: transparent;

                @media only screen and (max-width: 991px) {
                    text-align: center;
                }
            }

            &.restricted > a {
                color: transparent;
                text-shadow: 0 0 3px $white-mild; /* TMP */
            }

            &.pmp-menu-item-exit {
                background-color: $menu-item-exit-background-color;

                &:hover { background-color: $menu-item-exit-background-hover-color; }
                &:active { background-color: $menu-item-exit-background-focus-color; }
            }

            @media only screen and (max-width: 991px) {
                width: 25%;
                display: block;
                float: left;
            }
        }
    }

    .menu-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        padding: 0.4em 0.8em;

        color: $white-mild; /* TMP */
        font-size: 0.8em;
        text-align: center;

        background-color: rgba(0, 0, 0, 0.5);

        @media only screen and (max-width: 991px) {
            display: none;
            margin: 0;
        }

        a {
            color: $white-mild;
            font-weight: bold;
        }
    }
}
/* !Main menu/nav */

/* Page content */
.pmp-page-content {
    margin-top: 2.4em;

    @media only screen and (max-width: 991px) {
        margin-top: 0;
        margin-bottom: 2.4em;
    }

    .pmp-page-content-box {
        .pmp-page-content-box-content {
            padding: 1.25em 1em;

            @media only screen and (max-width: 991px) {
                padding: 1em 0.75em;
            }

            &.no-padd {
                padding: 0;
            }
        }
    }
}

.pmp-page-content {
    .pmp-login {
        @extend .pmp-page-content-box-content;

        max-width: 16em;
        margin: 0 auto;

        .control {
            margin-bottom: 0.2em;
        }

        .pmp-login-button {
            @extend .block;

            width: 100%;

            margin: 0.4em auto auto auto;
            padding: 0.4em 0.8em;

            font-size: 1.4em;
        }
    }
}

/* Toolbar */
.pmp-toolbar {
    @extend .frontest;

    width: 100%;
    height: 2em;
    position: fixed;
    top: 0;
    right: 0;

    font-size: 1.2em;
    text-align: center;

    background-color: $page-toolbar-background-color;

    @media only screen and (min-width: 992px) {
        width: 80%;
    }
    @media only screen and (max-width: 991px) {
        top: initial;
        bottom: 0;
    }

    .notification {
        color: $white;
        font-size: 0.8em;

        .notification-button {
            cursor: pointer;

            padding: 0;

            background-color: $page-toolbar-item-background-color;

            &:hover {
                background-color: $page-toolbar-item-background-hover-color;
            }
        }

        a {
            color: $white;
        }
    }

    .sticker {
        @extend .inline-block;

        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-right: 0.2em;
        padding: 0.25em 0.6em;

        color: $page-toolbar-sticker-default-text-color;
        font-size: 0.9em;
        font-weight: bold;

        background-color: $page-toolbar-sticker-default-background-color;
        border-bottom: 0.15em solid $page-toolbar-sticker-default-border-color;
        border-radius: 5em;

        &.sticker-important {
            color: $page-toolbar-sticker-important-text-color;

            background-color: $page-toolbar-sticker-important-background-color;
            border-color: $page-toolbar-sticker-important-border-color;
        }

        &.sticker-critical {
            color: $page-toolbar-sticker-critical-text-color;

            background-color: $page-toolbar-sticker-critical-background-color;
            border-color: $page-toolbar-sticker-critical-border-color;
        }
    }

    .button {
        width: 100%;
        display: block;
    }
}

.notification-comment-list {
    @extend .block;
    @extend .frontest;

    max-height: 16em;
    min-width: 18em;
    position: absolute;
    top: 2.4em;
    left: 0;
    overflow: auto;
    opacity: 0;

    margin: 0;
    padding: 0.2em 0.4em;

    color: $page-toolbar-notification-list-text-color;
    text-align: left;

    list-style-type: none;

    background-color: $page-toolbar-notification-list-background-color;
    box-shadow: 0.1em 0.1em 0.1em rgba($black, 0.2);

    transition: opacity 200ms;

    &.active {
        opacity: 1;

        > li {
            opacity: 1;
        }
    }

    > li {
        @extend .clearfix;

        opacity: 0;

        margin-bottom: 0.4em;
        padding-bottom: 0.4em;

        font-size: 0.9em;

        border-bottom: 1px solid $page-toolbar-notification-list-item-border-color;

        transition: opacity 200ms;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;

            border-color: transparent;
        }

        .notification-author {
            float: left;

            font-size: 0.8em;
        }

        .notification-date {
            float: right;

            font-size: 0.8em;
        }
    }

    .notification-no-comment {
        padding: 0.2em 0.4em;
    }
}
/* !Toolbar */

/* Articles */
.pmp-articles {
    & > [class*="cell-"] {
        padding: 0.2em 0.2em;
    }

    .pmp-article {
        @extend .pmp-page-content-box;

        height: 10em;

        [class*="box-vignette"] {
            font-size: 1em;
        }

        .pmp-article-content {
            @extend .pmp-page-content-box-content;

            overflow: hidden;

            &.pmp-new-article {
                font-size: 2em;

                .button {
                    padding: 0.6em 0.8em;
                }
            }

            .pmp-article-title {
                @extend .back;

                height: 3.5em;
                overflow: hidden;

                margin: 0;

                &:after {
                    content: '';

                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    box-shadow: 0 -0.4em 0.4em $pmp-page-box-background-color inset;
                }
            }

            .pmp-article-date {
                color: $black-milder; /* TMP */
                font-size: 0.7em;
            }
        }

        .pmp-article-actions {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .button {
                width: 100%;
            }

            .button.button-activate {
                @extend .button-success;
            }

            .button.button-deactivate {
                @extend .button-default;
            }

            .button.button-edit {
                @extend .button-info;
            }

            .button.button-moderate {
                @extend .button-warning;
            }
        }
    }
}
/* !Articles */

/* Article edit */
.pmp-article-edit {
    .pmp-article {
        @extend .clearfix;
        @extend .pmp-page-content-box;

        margin: 0;

        .pmp-article-content {
            @extend .pmp-page-content-box-content;

            .pmp-article-title-and-technical-name,
            .pmp-article-caption,
            .pmp-article-text {
                margin-bottom: 1em;
            }

            .pmp-article-title-and-technical-name {
                .pmp-article-title {
                    margin-right: 0.2em;

                    font-size: 1.2em;

                    @media only screen and (max-width: 991px) {
                        margin-right: 0;
                    }
                }

                .pmp-article-technical-name {
                    margin-left: 0.2em;

                    @media only screen and (max-width: 991px) {
                        margin-left: 0;
                    }

                    input {
                        padding-top: 0.5em;
                        padding-bottom: 0.5em;
                    }
                }


            }

            .pmp-article-caption,
            .pmp-article-text {
                textarea {
                    font-size: 0.9em;
                }

                .pmp-article-caption-actions,
                .pmp-article-text-actions {
                    font-size: 0.9em;

                    [class*="cell-"] > button {
                        width: 100%;
                    }
                }
            }

            .pmp-article-tags {
                text-align: left;

                .pmp-article-tag {
                    @extend .inline-block;

                    cursor: default;

                    margin: 0 0.3em;
                    padding: 0.2em 0.4em;

                    color: $tag-text-color;

                    background-color: $tag-background-color;

                    transition: background-color 200ms;

                    &:hover {
                        background-color: $tag-background-hover-color;
                    }

                    &:active {
                        background-color: $tag-background-focus-color;
                    }

                    &:first-child { margin-left: 0; }
                    &:last-child { margin-right: 0; }

                    .button-remove-tag {
                        margin: 0;
                        padding: 0 0 0 0.4em;

                        color: inherit;
                        font-size: 0.5em;

                        background-color: transparent;
                    }
                }
            }

            .pmp-article-type {
                margin-bottom: 1em;

                .vignette-button.inactive {
                    background-color: rgb(128, 128, 128); /* TMP */

                    &:hover {
                        background-color: rgb(152, 152, 152); /* TMP */
                    }
                }
            }

            .pmp-article-legend {
                max-height: 10em;
                overflow-y: auto;

                margin-top: 1em;

                background-color: #EEE;

                table {
                    width: 100%;

                    color: #444;
                    font-size: 0.8em;
                    text-align: left;

                    tr {
                        &:nth-child(odd) {
                            background-color: rgba(0, 0, 0, 0.05);
                        }

                        td {
                            padding: 0.6em;
                            padding-top: 0.3em;
                            padding-bottom: 0.3em;

                            .article-leg-tag {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* !Article edit */

/* Article comments */
.pmp-comments {
    & > [class*="cell-"] {
        padding: 0.4em 0.2em;

        &:first-child { padding-top: 0.2em; }
        &:last-child { padding-bottom: 0.2em; }
    }

    .pmp-comment {
        @extend .pmp-page-content-box;

        .pmp-comment-content-container {
            padding: 0.8em 1.2em;

            .pmp-comment-content {
                @extend .front;

                padding: 0.6em 0.8em 0.4em 0.8em;

                text-align: left;

                background-color: rgba(0, 0, 0, 0.1); /* TMP */

                .pmp-comment-author {
                    position: absolute;
                    top: -1em;
                    left: -1.2em;

                    margin: 0;
                    padding: 0.3em 0.6em;

                    color: $white-mild; /* TMP */
                    font-size: 0.8em;

                    background-color: $green-dark; /* TMP */

                    &:after {
                        content: "";

                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: -6px;
                        left: 0;
                        z-index: -1;

                        border-style: solid;
                        border-width: 0 16px 6px 0;
                        border-color: transparent $green-darker transparent transparent; /* TMP */
                    }

                    .pmp-comment-author-name {
                        font-weight: bold;
                    }
                }

                .pmp-comment-text {
                    @extend .front;
                }

                .pmp-comment-date {
                    position: absolute;
                    top: -1em;
                    right: -1.2em;

                    margin: 0;
                    padding: 0.3em 0.6em;

                    color: $white-mild; /* TMP */
                    font-size: 0.7em;

                    background-color: $blue-dark; /* TMP */

                    &:after {
                        content: "";

                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: -6px;
                        right: 0;
                        z-index: -1;

                        border-style: solid;
                        border-width: 0 0 6px 16px;
                        border-color: transparent transparent transparent $blue-darker; /* TMP */
                    }
                }
            }
        }

        .pmp-comment-actions {
            .button {
                width: 100%;

                &.button-visible {
                    &.active {
                        background-color: $green;
                    }

                    &:hover { background-color: $green-light; }
                    &:active { background-color: $green-dark; }
                }

                &.button-hidden {
                    &.active {
                        background-color: $orange;
                    }

                    &:hover { background-color: $orange-light; }
                    &:active { background-color: $orange-dark; }
                }
            }
        }
    }

    .pmp-no-comment {
        @extend .pmp-page-content-box;

        p {
            margin: 0;
            padding: 0.8em 1.2em;

            font-size: 1.2em;
        }
    }
}
/* !Article comments */

/* Reports */
.pmp-reports {
    & > [class*="cell-"] {
        padding: 0.4em 0.2em;

        &:first-child { padding-top: 0.2em; }
        &:last-child { padding-bottom: 0.2em; }
    }

    .pmp-report {
        @extend .pmp-page-content-box;

        .pmp-report-content-container {
            padding: 0.8em 1.2em;

            .pmp-report-content {
                @extend .front;

                padding: 0.6em 0.8em 0.4em 0.8em;

                text-align: left;

                background-color: rgba(0, 0, 0, 0.1); /* TMP */

                .pmp-report-author {
                    position: absolute;
                    top: -1em;
                    left: -1.2em;

                    margin: 0;
                    padding: 0.3em 0.6em;

                    color: $white-mild; /* TMP */
                    font-size: 0.8em;

                    background-color: $green-dark; /* TMP */

                    &:after {
                        content: "";

                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: -6px;
                        left: 0;
                        z-index: -1;

                        border-style: solid;
                        border-width: 0 16px 6px 0;
                        border-color: transparent $green-darker transparent transparent; /* TMP */
                    }

                    .pmp-report-author-name {
                        font-weight: bold;
                    }
                }

                .pmp-report-text {
                    @extend .front;
                }

                .pmp-report-date {
                    position: absolute;
                    top: -1em;
                    right: -1.2em;

                    margin: 0;
                    padding: 0.3em 0.6em;

                    color: $white-mild; /* TMP */
                    font-size: 0.7em;

                    background-color: $blue-dark; /* TMP */

                    &:after {
                        content: "";

                        display: block;
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: -6px;
                        right: 0;
                        z-index: -1;

                        border-style: solid;
                        border-width: 0 0 6px 16px;
                        border-color: transparent transparent transparent $blue-darker; /* TMP */
                    }
                }
            }
        }

        .pmp-report-actions {
            .button {
                width: 100%;

                &.button-open {
                    &.active {
                        background-color: $yellow;
                    }

                    &:hover { background-color: $yellow-light; }
                    &:active { background-color: $yellow-dark; }
                }

                &.button-treated {
                    &.active {
                        background-color: $green;
                    }

                    &:hover { background-color: $green-light; }
                    &:active { background-color: $green-dark; }
                }

                &.button-closed {
                    &.active {
                        background-color: $orange;
                    }

                    &:hover { background-color: $orange-light; }
                    &:active { background-color: $orange-dark; }
                }
            }
        }
    }

    .pmp-no-report {
        @extend .pmp-page-content-box;

        p {
            margin: 0;
            padding: 0.8em 1.2em;

            font-size: 1.2em;
        }
    }
}
/* !Reports */

/* Statistics */
.pmp-stats {
    & > [class*="cell-"] {
        padding: 1.2em 1.2em;
    }

    .pmp-stat {
        @extend .pmp-page-content-box;

        .pmp-stat-title {
            position: absolute;
            top: -1em;
            left: -1em;

            margin: 0;
            padding: 0.3em 0.6em;

            color: $white-mild; /* TMP */
            font-size: 1em;

            background-color: $green-dark; /* TMP */

            &:after {
                content: "";

                display: block;
                width: 0;
                height: 0;
                position: absolute;
                bottom: -6px;
                left: 0;
                z-index: -1;

                border-style: solid;
                border-width: 0 16px 6px 0;
                border-color: transparent $green-darker transparent transparent; /* TMP */
            }
        }

        .pmp-stat-content {
            overflow: auto;

            padding: 1em 1em 0.6em 1em;

            .chart {
                overflow: hidden;

                &.chart-big {
                    max-height: 16em;
                    @media only screen and (max-width: 991px) { max-height: 12em; }
                }
                &.chart-small {
                    max-height: 12em;
                    @media only screen and (max-width: 991px) { max-height: 9em; }
                }

                @media only screen and (max-width: 991px) {
                    &.chart-mobile-big {
                        max-height: 16em;
                        @media only screen and (max-width: 991px) { max-height: 12em; }
                    }
                    &.chart-mobile-small {
                        max-height: 12em;
                        @media only screen and (max-width: 991px) { max-height: 9em; }
                    }
                }
            }

            table {
                width: 100%;

                font-size: 0.92em;
                text-align: left;

                td, th {
                    padding: 0.2em 0.6em;
                }

                thead {
                    tr {
                        border-bottom: 1px solid rgba($black, 0.2);

                        th:nth-child(2) {
                            text-align: right;
                        }
                    }
                }

                tbody {
                    font-size: 0.9em;

                    tr:nth-child(odd) {
                        background-color: rgba($black, 0.05);
                    }

                    td {
                        &:nth-child(1) {
                            overflow: auto;
                        }

                        &:nth-child(2) {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
/* !Statistics */
/* !Page content */
