@import '_pmp.generic';
@import '_pmp.common';
@import '_pmp.vignette';
@import '_pmp.grid';
@import '_pmp.bbcode';

$body-text-color:               $white-mild;
$body-background-color:         $black-mild;
$body-background-image:         url('http://i.imgur.com/7XmZFgC.png');

$header-background-color:       rgba(0, 0, 0, 0.85);
$header-image-background-color: rgb(240, 240, 240);

$footer-background-color:       rgba(0, 0, 0, 0.85);

$twitter-user-color:            rgb(153, 50, 153);
$twitter-hashtag-color:         $link-text-color;
$twitter-link-color:            rgb(51, 122, 204);

$tag-group-text-color:          $white-mild;
$tag-group-background-color:    rgb(64, 64, 128);
$tag-group-background-hover-color:      rgb(96, 96, 168);
$tag-group-background-focus-color:      rgb(48, 48, 96);

$tag-text-color:                $white-mild;
$tag-background-color:          rgb(64, 128, 64);
$tag-background-hover-color:    rgb(96, 168, 96);
$tag-background-focus-color:    rgb(48, 96, 48);

$comment-text-color:            $black-milder;
$comment-background-color:      rgb(220, 220, 220);
$comment-border-color:          rgb(200, 200, 200);

$comment-author-text-color:     $white-mild;
$comment-author-background-color:       rgb(128, 128, 220);
$comment-author-background-darker-color:        rgb(80, 80, 176);

$comment-logged-author-background-color:        rgb(104, 180, 104);
$comment-logged-author-background-darker-color: rgb(64, 144, 64);

$comment-date-text-color:       $white-mild;
$comment-date-background-color: rgb(128, 128, 220);
$comment-date-background-darker-color:  rgb(80, 80, 176);

body {
    min-width: 300px;

    margin: 0;
    padding: 0;

    color: $body-text-color;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    background-color: $body-background-color;
    background-image: $body-background-image;
    background-attachment: fixed;
}
@media only screen and (min-width: 992px) {
    body {
        margin-top: 3em;
    }
}
@media only screen and (max-width: 991px) {
    body {
        font-size: 18px;
    }
}

* {
    position: relative;
    box-sizing: border-box;
}

/* Header */
.pmp-header {
    @extend .fronter;

    width: 100%;

    padding: 0.4em 0.8em;

    background-color: $header-background-color;

    /* Header logo */
    .pmp-header-logo {
        @extend .frontest;

        position: absolute;
        top: 0.1em;
        left: 0;

        margin: auto;

        > * {
            display:inline-block;
            padding: 0 1.5em;
        }

        img {
            height: 7em;

            background-color: $header-image-background-color;
            background-image: url('http://i.imgur.com/zPa8kDl.png');
            background-size: cover;
            border-radius: 10em;

            transition: border-radius 200ms;

            &:hover { border-radius: 1em; }
        }
    }
    @media only screen and (max-width: 991px) {
        .pmp-header-logo {
            display: block;
            position: relative;

            text-align: center;
        }
    }
    /* !Header logo */

    .pmp-header-title {
        @extend .front;

        padding: 0;

        color: $white-mild;
        font-size: 1.5em;
        text-align: center;

        > * {
            @extend .inline-block;
            @extend .hard-text-shadow;

            transition: color 200ms, text-shadow 200ms;
        }

        a {
            color: $white-milder;

            &:hover {
                @extend .harder-text-shadow;

                color: $white-mild;
            }
        }
    }
}
/* !Header */

/* Top navigation menu */
.pmp-nav {
    @extend .frontest;

    width: 100%;
    position: fixed;

    background-color: $white-mild;
    box-shadow: 0 -0.2em 0 rgba(0, 0, 0, 0.2) inset;
}
@media only screen and (min-width: 992px) {
    .pmp-nav { top: 0; }
}
@media only screen and (max-width: 991px) {
    .pmp-nav { bottom: 0; }
}

.pmp-nav {
    .pmp-nav-elems {
        max-width: 768px;

        margin: auto;

        font-size: 1.25em;

        .button {
            width: 100%;

            padding: 0;

            color: $black-mild;

            background-color: rgba(0, 0, 0, 0);
            
            &.active,
            &:hover {
                color: $white-mild;
                background-color: rgba(32, 128, 32, 0.6);
            }

            &:active,
            &:focus {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .button-text {
                display: inline-block;

                padding: 0.6em 1.2em;

                text-align: left;
                font-weight: bold;
            }

            .button-icon {
                position: absolute;
                top: 0;
                left: 0;

                padding: 0.6em 0.6em;

                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}
/* !Top navigation menu */

/* Body */
.pmp-body {
    max-width: 1136px;

    margin: auto;
    margin-top: 2em;

    [class*="cell-"] { padding: 0 1em; }
}

/* Articles */
.pmp-article {
    @extend .pmp-page-content-box-content;

    .pmp-article-title {
        margin-top: 0.6em auto;

        font-size: 1.8em;
        text-align: center;

        @media only screen and (max-width: 991px) {
            font-size: 1.5em;
        }
    }

    .pmp-article-caption {
        color: $black-mild;
        text-align: left;
    }

    .pmp-article-caption-before,
    .pmp-article-caption-after,
    .pmp-article-text-before,
    .pmp-article-text-after {
        color: rgba(32, 32, 32, 0.33);
        font-size: 0.8em;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
        &:before, &:after { content: ' --- '; }
    }

    .pmp-article-caption-after { margin-bottom: 1.5em; }
    .pmp-article-text-before { margin-top: 1.5em; }

    .pmp-article-more {
        @extend .clearfix;

        margin-top: 1em;

        .pmp-article-access {
            @extend .inline-block;
            float: right;

            .icon {
                font-size: 0.7em;
            }
        }

        .pmp-article-tags {
            @extend .inline-block;

            float: left;

            font-size: 0.8em;

            .pmp-article-tag-group {
                @extend .inline-block;

                margin: auto 0.2em;
                padding: 0.3em 0.4em;

                color: $tag-group-text-color;
                font-size: 1em;

                background-color: $tag-group-background-color;
                border-radius: 10em;

                transition: background-color 200ms, border-radius 200ms;

                &:hover {
                    background-color: $tag-group-background-hover-color;
                    border-radius: 0.5em;
                }
                &:active,
                &:focus {
                    background-color: $tag-group-background-focus-color;
                }
            }

            .pmp-article-tag {
                @extend .inline-block;

                margin: auto 0.2em;
                padding: auto 0.2em;

                color: rgba(0, 0, 0, 0.4);
                text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

                transition: color 200ms;

                &:hover {
                    color: rgba(0, 0, 0, 0.6);
                }
                &:active,
                &:focus {
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }

    .pmp-article-social {
        form {
            display: inline-block;
        }
    }
}

/* Article comments */
.pmp-comments {
    @extend .pmp-page-content-box-content;

    text-align: left;

    .pmp-comment {
        margin-bottom: 1.2em;
        padding: 0.6em 1.2em;

        color: $comment-text-color;

        background-color: $comment-background-color;
        border: 1px solid $comment-border-color;

        &:first-child { margin-top: 1em; }
        &:last-child { margin-bottom: 0; }

        .pmp-comment-author {
            position: absolute;
            top: -1em;
            left: -1em;

            margin: 0;
            padding: 0.3em 0.6em;

            color: $comment-author-text-color;
            font-size: 0.9em;

            background-color: $comment-author-background-color;

            &:after {
                content: "";

                display: block;
                width: 0;
                height: 0;
                position: absolute;
                bottom: -6px;
                left: 0;
                z-index: -1;

                border-style: solid;
                border-width: 0 16px 6px 0;
                border-color: transparent $comment-author-background-darker-color transparent transparent;
            }

            &.pmp-comment-author-user {
                background-color: $comment-logged-author-background-color;

                &:after {
                    border-color: transparent $comment-logged-author-background-darker-color transparent transparent;
                }
            }
        }

        .pmp-comment-date {
            position: absolute;
            top: -1em;
            right: -1em;

            margin: 0;
            padding: 0.3em 0.6em;

            color: $comment-date-text-color;
            font-size: 0.7em;

            background-color: $comment-date-background-color;

            &:after {
                content: "";

                display: block;
                width: 0;
                height: 0;
                position: absolute;
                bottom: -6px;
                right: 0;
                z-index: -1;

                border-style: solid;
                border-width: 0 0 6px 16px;
                border-color: transparent transparent transparent $comment-date-background-darker-color;
            }
        }
    }

    .pmp-add-comment {
        .control {
            margin-top: 0.2em;
            margin-bottom: 0.4em;
        }

        .pmp-add-comment-button {
            text-align: right;
        }
    }

    .pmp-comment-thanks {
        font-size: 1.3em;
        text-align: center;

        .pmp-comment-reenable {
            @extend a;

            cursor: pointer;

            font-size: 0.6em;
        }
    }
}
/* !Article comments */
/* !Articles */

/* Search */
.pmp-search-input-box {
    padding: 0.6em 1.2em;
}

.relevance-vignette {
    font-size: 0.9em;
}

.pmp-search-article {
    @extend .pmp-page-content-box-content;

    .pmp-search-article-title {
        margin-top: 0.6em auto;

        font-size: 1.8em;
        text-align: center;

        @media only screen and (max-width: 991px) {
            font-size: 1.5em;
        }
    }

    .pmp-search-article-caption {
        color: $black-mild;
        text-align: left;
    }

    .pmp-search-article-more {
        @extend .clearfix;

        margin-top: 1em;

        .pmp-search-article-access {
            @extend .inline-block;
            float: right;

            .icon {
                font-size: 0.7em;
            }
        }

        .pmp-search-article-tags {
            @extend .inline-block;

            float: left;

            font-size: 0.8em;

            .pmp-search-article-tag-group {
                @extend .inline-block;

                margin: auto 0.2em;
                padding: 0.3em 0.4em;

                color: $tag-group-text-color;
                font-size: 1em;

                background-color: $tag-group-background-color;
                border-radius: 10em;

                transition: background-color 200ms, border-radius 200ms;

                &:hover {
                    background-color: $tag-group-background-hover-color;
                    border-radius: 0.5em;
                }
                &:active,
                &:focus {
                    background-color: $tag-group-background-focus-color;
                }
            }

            .pmp-search-article-tag {
                @extend .inline-block;

                margin: auto 0.2em;
                padding: auto 0.2em;

                color: rgba(0, 0, 0, 0.4);
                text-shadow: 0 1px 0 rgba(255, 255, 255, 1);

                transition: color 200ms;

                &:hover {
                    color: rgba(0, 0, 0, 0.6);
                }
                &:active,
                &:focus {
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}

.pmp-search-not-found {
    @extend .pmp-page-content-box-content;

    overflow: hidden;

    text-align: center;

    p {
        margin: 0;
    }

    .pmp-search-not-found-main-text {
        font-size: 1.5em;
    }
}
/* !Search */

/* About */
.pmp-about {
    @extend .pmp-page-content-box-content;

    text-align: left;
}

.pmp-about-face {
    @extend .fronter;
    float: left;

    margin: 0 1em 1em 0;

    > img {
        height: 10em;

        background-image: url('http://i.imgur.com/zPa8kDl.png');
        background-size: cover;
        border-radius: 10em;

        transition: border-radius 200ms;
    }

    &:hover > img {
        border-radius: 1em;
    }
}

.pmp-about-name {
    margin-top: 0;

    font-size: 1.5em;

    .pmp-about-pampa {
        color: rgb(24, 96, 24);/* TMP */
    }
}

.pmp-about-description {
    p {
        @extend .elem-list;

        margin: 1em;
    }

    .comment {
        opacity: 0.6;
    }

    .tldr {
        @extend .clearfix;

        margin-top: 1.5em;
        padding: 0.3em 0.6em;

        background-color: rgba(0, 0, 0, 0.08);

        &:before {
            @extend .inline-block;

            content: 'tl;dr';
            float: left;

            margin: 0 0.4em 0 0;

            color: rgba(32, 32, 32, 0.5);
            font-size: 1.4em;
            font-weight: bold;
        }
    }

    .tldc {
        @extend .tldr;

        &:before {
            content: 'tl;dc';
        }
    }
}

.pmp-about-social {
    margin-top: 1em;

    font-size: 1.2em;

    .pmp-about-social-buttons {
        margin-top: 0.2em;

        text-align: center;
    }
}
/* !About */

/* Report */
.pmp-report {
    @extend .pmp-page-content-box-content;

    text-align: left;

    .pmp-report-header {
        margin-bottom: 1em;

        p {
            font-size: 0.9em;
            margin: 0.4em auto;

            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }

            &.pmp-report-thanks {
                font-size: 1.2em;
            }
        }
    }

    .pmp-report-content {
        @extend .clearfix;

        .control {
            margin: 0.4em auto;

            &:first-child { margin-top: 0; }
            &:last-child { margin-bottom: 0; }
        }

        .pmp-submit-report {
            float: right;
        }
    }
}
/* !Report */
/* !Page content */

/* Right menu */
.pmp-page-menu {
    .pmp-page-menu-box {
        @extend .pmp-page-box;
    }

    .pmp-page-menu-box-content {
        padding: 1em;
    }

    .pmp-page-menu-box {
        /* About me */
        .pmp-about-me {
            @extend .pmp-page-menu-box-content;

            .pmp-me-face {
                @extend .inline-block;
                overflow: hidden;

                margin: auto;

                img {
                    height: 10rem;

                    background-image: url('http://i.imgur.com/zPa8kDl.png');
                    background-size: cover;
                    border-radius: 10em;

                    transition: border-radius 200ms;

                    &:hover {
                        border-radius: 1em;
                    }
                }
            }

            .pmp-me-name {
                .pmp-me-pampa {
                    color: rgb(24, 96, 24);/* TMP */
                }
            }

            .pmp-me-description {
                margin: 0;
            }
        }
        /* !About me */

        /* Search */
        .pmp-search {
            @extend .pmp-page-menu-box-content;

            font-size: 1.2em;
        }
        /* !Search */

        /* Social */
        .pmp-social {
            @extend .pmp-page-menu-box-content;

            font-size: 1.2em;
        }
        /* !Social */

        /* Twitter */
        .pmp-twitter {
            @extend .pmp-page-menu-box-content;

            .pmp-twitter-post {
                padding: 0.75em 0;

                border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* TMP */
                
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;

                    border-bottom: 0;
                }

                .pmp-twitter-post-date {
                    margin: 0;
                    padding: 0;

                    color: rgba(32, 32, 32, 0.5); /* TMP */
                    font-size: 0.7em;
                }

                .pmp-twitter-post-text {
                    margin: 0;

                    text-align: left;

                    a {
                        color: $twitter-link-color;
                    }

                    .user {
                        color: $twitter-user-color;
                        font-weight: bold;
                    }

                    .hashtag {
                        color: $twitter-hashtag-color;
                    }

                    .pmp-twitter-post-link {
                        float: right;
                    }
                }
            }
        }
    }
}
/* !Twitter */
/* !Right menu */
/* !Body */

/* Footer */
.pmp-footer {
    @extend .fronter;

    width: 100%;

    margin-top: 2rem;
    padding: 0.8em 0.8em;

    text-align: center;

    background-color: $footer-background-color;

    .pmp-footer-report {
        margin-top: 0.2em;

        font-size: 0.75em;
    }
}
@media only screen and (max-width: 991px) {
    .pmp-footer {
        margin-bottom: 3em;
    }
}
/* Footer */
