<div class="pmp-header clearfix">
  <div class="pmp-header-logo">
    <a href="/">
      <img src="http://i.imgur.com/Atsf9xx.png" alt="" />
    </a>
  </div>

  <div class="pmp-header-title">
    <h2><a href="/">Pampattitu.de</a></h2>
  </div>

  <div class="pmp-header-actions">
    <div class="pmp-header-search hidden-mobile">
      <form method="POST" action="/search">
        <div class="input-group input-group-with-button">
          <input class="input-group-data" type="text" ng-model="searchString" ng-class="{'has-data': searchString.length}" />

          <div class="input-group-placeholder">Search...</div>

          <button class="input-group-button" type="button">
            <span class="icon icon-search"></span>
          </button>
        </div>
      </form>
    </div>

    <div class="pmp-header-social">
      <a class="button button-github"
         href="https://www.github.com/Pampattitude">
        <span class="icon icon-github"></span>
      </a>

      &nbsp;

      <a class="button button-linkedin"
         href="https://www.linkedin.com/pub/guillaume-delahodde/5a/751/44a">
        <span class="icon icon-linkedin"></span>
      </a>

      &nbsp;

      <a class="button button-twitter"
         href="https://www.twitter.com/Pampattitude">
        <span class="icon icon-twitter"></span>
      </a>

      &nbsp;

      <a class="button button-facebook"
         href="https://www.facebook.com/Pampattitude">
        <span class="icon icon-facebook"></span>
      </a>

      &nbsp;

      <a class="button button-rss"
         href="/rss">
        <span class="icon icon-feed2"></span>
      </a>
    </div>
  </div>
</div>
