<!--
    Server options:
      globals.hidePageMenu: removes menu entirely and makes the page body full screen
      globals.pageMenu.hideAboutMe: hides "About me" box
      globals.pageMenu.hideSocial:  hides "Social" box
      globals.pageMenu.hideTwitter:  hides "Twitter" box
-->

<div class="pmp-page-menu">
  <div class="pmp-page-menu-box" ng-hide="globals.pageMenu.hideAboutMe">
    <h3 class="box-vignette-right"><span class="icon icon-user"></h3>

    <div class="pmp-about-me">
      <a class="pmp-me-face" href="/about"><img src="/img/IconFace.png" alt="" /></a>

      <h3 class="pmp-me-name">Guillaume &laquo;<span class="pmp-me-pampa">Pampa</span>&raquo; Delahodde</h3>
      <p class="pmp-me-description">
        Hey there! Pampa, developer.<br />Check out the <a href="/about">about</a> page!
      </p>
    </div>
  </div>

  <div class="pmp-page-menu-box" ng-hide="globals.pageMenu.hideSocial">
    <h3 class="box-vignette-right"><span class="icon icon-share"></h3>

    <div class="pmp-social">
      <a class="button button-github"
         href="https://www.github.com/Pampattitude">
        <span class="icon icon-github"></span>
      </a>

      &nbsp;

      <a class="button button-linkedin"
         href="https://www.linkedin.com/pub/guillaume-delahodde/5a/751/44a">
        <span class="icon icon-linkedin"></span>
      </a>

      &nbsp;

      <a class="button button-twitter"
         href="https://www.twitter.com/Pampattitude">
        <span class="icon icon-twitter"></span>
      </a>

      &nbsp;

      <a class="button button-facebook"
         href="https://www.facebook.com/Pampattitude">
        <span class="icon icon-facebook"></span>
      </a>

      &nbsp;

      <a class="button button-rss"
         href="/rss">
        <span class="icon icon-feed2"></span>
      </a>
    </div>
  </div>

  <div class="pmp-page-menu-box" ng-hide="globals.pageMenu.hideTwitter">
    <h3 class="box-vignette-right twitter-vignette"><span class="icon icon-twitter"></span></h3>

    <div class="pmp-twitter" poll-twitter>
      <div class="clearfix">
        <div class="pmp-twitter-post" ng-repeat="post in twitterPosts">
          <p class="pmp-twitter-post-text">
            <span ng-bind-html="post.text | trust"></span>

            <a class="pmp-twitter-post-link" href="{{post.url}}" target="_blank">
              <span class="icon icon-newtab"></span>
            </a>
          </p>

          <div class="pmp-twitter-post-date">{{post.created | date: 'yyyy-MM-dd'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
