<!--
    Server options:
      globals.hidePageMenu: removes menu entirely and makes the page body full screen
      globals.pageMenu.hideAboutMe: hides "About me" box
      globals.pageMenu.hideReport:  hides "Report" box
-->

<div class="pmp-page-menu">
  <div class="pmp-page-menu-box" ng-hide="globals.pageMenu.hideAboutMe">
    <h3 class="box-vignette-right">Me</h3>

    <div class="pmp-about-me">
      <a class="pmp-me-face" href="/about"><img src="/img/IconFace.png" alt="" /></a>

      <h3 class="pmp-me-name">Guillaume &laquo;<span class="pmp-me-pampa">Pampa</span>&raquo; Delahodde</h3>
      <p class="pmp-me-description">
        Hey there! Pampa, developer.<br />Check out the <a href="/about">about</a> page!
      </p>
    </div>
  </div>

  <div class="pmp-page-menu-box" ng-hide="globals.pageMenu.hideReport">
    <h3 class="box-vignette-right">Leave a report</h3>

    <div class="pmp-report">
      <p>
        If you encountered an error, please include page URL and details on what you were doing before having the error!
      </p>

      <div class="input-group">
        <input class="input-group-data" type="text" ng-model="reportName" ng-class="{'has-data': reportName.length}" />

        <div class="input-group-placeholder">Name...</div>
      </div>

      <div class="input-group">
        <textarea class="input-group-data" ng-model="reportText" ng-class="{'has-data': reportText.length}" data-resizable></textarea>

        <div class="input-group-placeholder">Report data...</div>
      </div>
    </div>
  </div>
</div>
