<div class="pmp-nav">
  <div class="pmp-nav-elems">
    <div class="grid-2">
      <div class="cell-1">
        <a href="/" class="button" ng-class="{active: 'home'==globals.activeTopMenu}">
          <span class="button-icon">
            <span class="icon icon-home"></span>
          </span>
          <span class="button-text">
            Home
          </span>
        </a>
      </div>

      <div class="cell-1">
        <a href="/about" class="button" ng-class="{active: 'about'==globals.activeTopMenu}">
          <span class="button-icon">
            <span class="icon icon-profile"></span>
          </span>
          <span class="button-text">
            About
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
