<!-- Fixed desktop menu -->
<div class="pmp-nav pmp-nav-fixed hidden-mobile" id="pmp-nav-fixed">
  <div class="pmp-nav-elems">
    <div class="grid-3">
      <div class="cell-1">
        <a href="/" class="button" ng-class="{active: 'home'==globals.activeTopMenu}">
          <span class="button-icon">
            <span class="icon icon-home"></span>
          </span>
          <span class="button-text">
            Home
          </span>
        </a>
      </div>

      <div class="cell-1">
        <a href="/articles" class="button" ng-class="{active: 'article'==globals.activeTopMenu}">
          <span class="button-icon">
            <span class="icon icon-newspaper"></span>
          </span>
          <span class="button-text">
            Articles
          </span>
        </a>
      </div>

      <div class="cell-1">
        <a href="/about" class="button" ng-class="{active: 'about'==globals.activeTopMenu}">
          <span class="button-icon">
            <span class="icon icon-profile"></span>
          </span>
          <span class="button-text">
            About
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Fixed desktop menu -->

<!-- Mobile menu -->
<div class="pmp-nav pmp-nav-mobile hidden-desktop">
  <div class="pmp-nav-elems">
    <div class="grid-3">
      <div class="cell-1">
        <a href="/" class="button" ng-class="{active: 'home'==globals.activeTopMenu}">
          <span class="button-text">
            <span class="icon icon-home"></span>
          </span>
        </a>
      </div>

      <div class="cell-1">
        <a href="/articles" class="button" ng-class="{active: 'article'==globals.activeTopMenu}">
          <span class="button-text">
            <span class="icon icon-newspaper"></span>
          </span>
        </a>
      </div>

      <div class="cell-1">
        <a href="/about" class="button" ng-class="{active: 'about'==globals.activeTopMenu}">
          <span class="button-text">
            <span class="icon icon-profile"></span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- !Mobile menu -->
