<!-- Error -->
<div class="pmp-page-content-box">
  <div class="pmp-error">
    <h1 class="pmp-error-title">
      <span class="pmp-error-code pmp-error-code-500">500</span> <span class="pmp-error-text-500">Internal Server Error</span>
    </h1>

    <div class="pmp-error-data">
      <p>
        Something happened!
      </p>
      <p>
        The server failed to give you what you expected and has broken your dreams. You should never have to go through this, so you should either <a href="/report">report the error</a>, go back or make your way through the menus of the website.
      </p>
      <p>
        <small>Please <a href="/report">tell me what happened</a>, I don't want you to be mad at me...</small>
      </p>
    </div>
  </div>
</div>
<!-- !Error -->
