<div class="pmp-page-content-box">
  <div class="pmp-about clearfix">
    <span class="pmp-about-face"><img src="http://i.imgur.com/dkjkMuK.png" alt="" /></span>

    <h3 class="pmp-about-name">Guillaume &laquo;<span class="pmp-about-pampa">Pampa</span>&raquo; Delahodde</h3>
    <div class="pmp-about-description">
      <p>
        Hi there!
      </p>

      <p>
        I'm Pampa, developer. I love programming, cats, and cool stuff on the Internet. I also enjoy casually playing video games, and I can be a bit of a maniac sometimes <span class="comment">(except for cleaning; I'm allergic to dust but not sensitive to dust stacking; <b>don't ask</b>)</span>.
      </p>

      <p>
        I mostly use <b>C++</b> and <b>Node.js</b> / JavaScript to do stuff, ranging from creating <a href="https://github.com/Pampattitude/Newpattitu.de">this website</a> to working on a 2D game engine. I am passionate about the things I like, and I tend to look down on mediocrity and self sufficience <span class="comment">(although, let's face it, we all are self sufficient and, most of the time, do mediocre stuff)</span>.
        <br />
        I love technical challenges. My dream job would definitely be a paid position for enhancing and expanding the <a href="http://www.boost.org/">boost</a> library.
      </p>

      <p>
        This blog groups together some of my shower thoughts, my dumb personal projects, my rage situations and my tendancy to psychologically murder half of the people I talk to.
        <br />
        If you like stalking people and, maybe, learning stuff, this is a place you can fill your needs at. Otherwise, I would recommand getting the hell away from here and never coming back.
      </p>

      <p>
        <b>tl;dr</b>: I do C++ and Node.js, I don't like you and never will, and you'll get bored reading stuff here.
        <br />
        <b>tl;dc</b> <span class="comment">(means "too long; don't care")</span>: Then do something with your aweful life and stop invading my now-public private space. <b>Moron</b>.
      </p>

      <div class="pmp-about-social">
        If you're still there <span class="comment">(did you not get the "don't stay here" talk I just did? Geez...)</span>, you can connect with me on social networks or get the RSS feed of the website!

        <div class="pmp-about-social-buttons">
          <a class="button button-github"
             href="https://www.github.com/Pampattitude">
            <span class="icon icon-github"></span>
          </a>

          &nbsp;

          <a class="button button-linkedin"
             href="https://www.linkedin.com/pub/guillaume-delahodde/5a/751/44a">
            <span class="icon icon-linkedin"></span>
          </a>

          &nbsp;

          <a class="button button-twitter"
             href="https://www.twitter.com/Pampattitude">
            <span class="icon icon-twitter"></span>
          </a>

          &nbsp;

          <a class="button button-facebook"
             href="https://www.facebook.com/Pampattitude">
            <span class="icon icon-facebook"></span>
          </a>

          &nbsp;

          <a class="button button-rss"
             href="/rss">
            <span class="icon icon-feed2"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
