<!-- Article -->
<div class="pmp-page-content-box" data-ng-controller="articleController">
  <article class="pmp-article">
    <h3 class="pmp-box-type pmp-box-type-news" data-ng-show="'news' == globals.article.type">
      News
    </h3>
    <h3 class="pmp-box-type pmp-box-type-personal" data-ng-show="'life' == globals.article.type">
      Personal
    </h3>
    <h3 class="pmp-box-type pmp-box-type-project" data-ng-show="'project' == globals.article.type">
      Project
    </h3>
    <h3 class="pmp-box-type pmp-box-type-tutorial" data-ng-show="'tutorial' == globals.article.type">
      Tutorial
    </h3>
    <h3 class="pmp-box-type pmp-box-type-flash" data-ng-show="'flash' == globals.article.type">
      <span class="icon icon-lightning"></span>&nbsp;&nbsp;Flash
    </h3>

    <hr class="pmp-break" />

    <div class="pmp-article-content">
      <h1 class="pmp-article-title">
        <span data-ng-bind-html="globals.article.title | trust">
        </span>

        <div class="pmp-article-date">
          <span data-ng-bind="globals.article.created | date: 'yyyy-MM-dd'"></span>
        </div>
      </h1>

      <hr class="pmp-break" />

      <div class="pmp-article-tags">
        <div class="pmp-article-tag-icon">
          <span class="icon icon-tags"></span>
        </div>

        <div class="pmp-article-tag-list">
          <a class="pmp-article-tag" data-ng-repeat="tag in globals.article.tags" href="/search?search={{tag}}" data-ng-bind="tag"></a>
        </div>
      </div>

      <hr class="pmp-break" />

      <div class="pmp-article-caption-before"
           data-ng-show="true == globals.isPreview">Caption</div>
      <div class="pmp-article-caption pmp-bb-generated"
           data-ng-show="true == globals.isPreview"
           data-ng-bind-html="globals.article.caption | trust">
      </div>
      <div class="pmp-article-caption-after"
           data-ng-show="true == globals.isPreview">Caption</div>

      <div class="pmp-article-text-before"
           data-ng-show="true == globals.isPreview">Text</div>
      <div class="pmp-article-text pmp-bb-generated"
           data-ng-bind-html="globals.article.text | trust"
           data-compile="globals.article.text">
      </div>
      <div class="pmp-article-text-after"
           data-ng-show="true == globals.isPreview">Text</div>

      <div class="pmp-article-more">
        <div class="pmp-article-tags">
          <a class="pmp-article-tag-group" href="/search?search={{globals.article.tags.join(' ')}}"><span class="icon icon-tags"></span></a>

          <a class="pmp-article-tag" data-ng-repeat="tag in globals.article.tags" href="/search?search={{tag}}" data-ng-bind="tag"></a>
        </div>
      </div>
    </div>
  </article>
</div>
<!-- !Article -->

<!-- Comment -->
<div class="pmp-page-content-box" id="pmp-comments" data-ng-controller="articleCommentsController" data-ng-hide="true == globals.deactivateComments">
  <h3 class="pmp-box-type">
    Comments
  </h3>

  <hr class="pmp-break">

  <div class="pmp-comments">
    <div class="pmp-comment clearfix" data-ng-repeat="comment in globals.commentList">
      <div class="pmp-comment-author" data-ng-class="{'pmp-comment-author-user': undefined != comment.user}">
        <span data-ng-hide="undefined != comment.user" data-ng-bind="comment.author"></span>
        <span data-ng-show="undefined != comment.user">
          <span data-ng-show="comment.user.username == comment.author">{{comment.user.username}}</span>
          <span data-ng-hide="comment.user.username == comment.author">{{comment.user.username}} as {{comment.author}}</span>
        </span>
      </div>
      <div class="pmp-comment-date">
        <span class="pmp-comment-date-date" data-ng-bind="comment.created | date: 'yyyy-MM-dd'"></span>,
        <b><span class="pmp-comment-date-date" data-ng-bind="comment.created | date: 'hh:mm'"></span></b>
      </div>

      <div class="pmp-comment-text"
           data-ng-bind="comment.text"
           data-ng-hide="'hidden' == comment.status">
      </div>
      <div class="pmp-comment-text pmp-comment-hidden"
           data-ng-show="'hidden' == comment.status">
        Comment hidden (probably because it was spam or obvious trolling). Don't do that.
      </div>
    </div>

    <!-- Add comment -->
    <div class="pmp-add-comment" data-ng-hide="true == newCommentPosted">
      <input class="control" type="text" name="author"
             data-ng-model="newComment.author"
             data-ng-init="newComment.author = globals.user.username || newComment.author || ''"
             data-ng-class="{'has-data': 0 != newComment.author.length}"
             maxlength="32"
             placeholder="Name..." />

      <textarea class="control" type="text" name="text"
                data-ng-model="newComment.text"
                data-ng-init="newComment.text = newComment.text || ''"
                data-ng-class="{'has-data': 0 != newComment.text.length}"
                data-resizable rows="3"
                maxlength="4096"
                placeholder="Comment..."></textarea>

      <div class="pmp-add-comment-button">
        <button class="button button-labeled button-success" type="button" data-ng-click="postComment()">
          <div class="button-label"><span class="icon icon-checkmark"></span></div>
          Submit
        </button>
      </div>
    </div>
    <!-- !Add comment -->

    <!-- Thanks for comment -->
    <div class="pmp-comment-thanks" data-ng-show="true == newCommentPosted">
      Thanks for the comment!
      <br />
      <span class="pmp-comment-reenable" data-ng-click="newCommentPosted = false">Want to add another comment?</span>
    </div>
    <!-- !Thanks for comment -->
  </div>
</div>
<!-- !Comment -->
