<!-- Article -->
<article class="pmp-page-content-box" data-ng-controller="articleController">
  <h2 class="box-vignette-left news-vignette" data-ng-show="'news' == globals.article.type">News</h2>
  <h2 class="box-vignette-left life-vignette" data-ng-show="'life' == globals.article.type">Personal</h2>
  <h2 class="box-vignette-left project-vignette" data-ng-show="'project' == globals.article.type">Project</h2>
  <h2 class="box-vignette-left tutorial-vignette" data-ng-show="'tutorial' == globals.article.type">Tutorial</h2>
  <h2 class="box-vignette-left flash-vignette" data-ng-show="'flash' == globals.article.type"><span class="icon icon-lightning"></span>&nbsp;&nbsp;Flash</h2>

  <h2 class="box-vignette-left date-vignette" data-ng-bind="globals.article.created | date: 'yyyy-MM-dd'"></h2>

  <h2 class="box-vignette-right featured-vignette" data-ng-show="true == globals.article.featured">
    <span class="icon icon-star3"></span>
  </h2>

  <div class="pmp-article">
    <h1 class="pmp-article-title"><a href="/article/{{globals.article.technicalName}}" data-ng-bind-html="globals.article.title | trust"></a></h1>

    <div class="pmp-article-caption-before"
         data-ng-show="true == globals.isPreview">Caption</div>
    <div class="pmp-article-caption pmp-bb-generated"
         data-ng-show="true == globals.isPreview"
         data-ng-bind-html="globals.article.caption | trust">
    </div>
    <div class="pmp-article-caption-after"
         data-ng-show="true == globals.isPreview">Caption</div>

    <div class="pmp-article-text-before"
         data-ng-show="true == globals.isPreview">Text</div>
    <div class="pmp-article-text pmp-bb-generated"
         data-ng-bind-html="globals.article.text | trust"
         data-compile="globals.article.text">
    </div>
    <div class="pmp-article-text-after"
         data-ng-show="true == globals.isPreview">Text</div>

    <div class="pmp-article-more">
      <div class="pmp-article-tags">
        <a class="pmp-article-tag-group" href="/search?search={{globals.article.tags.join(' ')}}"><span class="icon icon-tags"></span></a>

        <a class="pmp-article-tag" data-ng-repeat="tag in globals.article.tags" href="/search?search={{tag}}" data-ng-bind="tag"></a>
      </div>
    </div>

    <!-- Social -->
    <div class="pmp-article-social">
      <!-- Twitter -->
      <form method="GET" action="https://twitter.com/share" target="_blank">
        <input type="hidden" name="text" value="Check it out!" />
        <input type="hidden" name="hashtags" value="{{globals.article.tags.join(',')}}" />

        <button class="button button-twitter button-labeled" data-ng-click="incShare('twitter')">
          <span class="button-label"><span class="icon icon-twitter"></span></span>

          <span data-ng-hide="0 == globals.article.shares.twitter">
            Tweeted <b><span data-ng-bind="globals.article.shares.twitter"></span></b> times
          </span>
          <span data-ng-show="0 == globals.article.shares.twitter">
            Tweet!
          </span>
        </button>
      </form>
      <!-- !Twitter -->
    </div>
    <!-- !Social -->
  </div>
</article>
<!-- !Article -->

<!-- Comment -->
<div class="pmp-page-content-box" id="pmp-comments" data-ng-controller="articleCommentsController" data-ng-hide="true == globals.deactivateComments">
  <h2 class="box-vignette-left">Comments</h2>

  <div class="pmp-comments">
    <div class="pmp-comment clearfix" data-ng-repeat="comment in globals.commentList">
      <div class="pmp-comment-author" data-ng-class="{'pmp-comment-author-user': undefined != comment.user}">
        <span data-ng-hide="undefined != comment.user" data-ng-bind="comment.author"></span>
        <span data-ng-show="undefined != comment.user">
          <span data-ng-show="comment.user.username == comment.author">{{comment.user.username}}</span>
          <span data-ng-hide="comment.user.username == comment.author">{{comment.user.username}} as {{comment.author}}</span>
        </span>
      </div>
      <div class="pmp-comment-date">
        <span class="pmp-comment-date-date" data-ng-bind="comment.created | date: 'yyyy-MM-dd'"></span>,
        <b><span class="pmp-comment-date-date" data-ng-bind="comment.created | date: 'hh:mm'"></span></b>
      </div>

      <div class="pmp-comment-text"
           data-ng-bind="comment.text"
           data-ng-hide="'hidden' == comment.status">
      </div>
      <div class="pmp-comment-text pmp-comment-hidden"
           data-ng-show="'hidden' == comment.status">
        Comment hidden (probably because it was spam or obvious trolling). Don't do that.
      </div>
    </div>

    <!-- Add comment -->
    <div class="pmp-add-comment" data-ng-hide="true == newCommentPosted">
      <input class="control" type="text" name="author"
             data-ng-model="newComment.author"
             data-ng-init="newComment.author = globals.user.username || newComment.author || ''"
             data-ng-class="{'has-data': 0 != newComment.author.length}"
             maxlength="32"
             placeholder="Name..." />

      <textarea class="control" type="text" name="text"
                data-ng-model="newComment.text"
                data-ng-init="newComment.text = newComment.text || ''"
                data-ng-class="{'has-data': 0 != newComment.text.length}"
                data-resizable rows="3"
                maxlength="4096"
                placeholder="Comment..."></textarea>

      <div class="pmp-add-comment-button">
        <button class="button button-labeled button-success" type="button" data-ng-click="postComment()">
          <div class="button-label"><span class="icon icon-checkmark"></span></div>
          Submit
        </button>
      </div>
    </div>
    <!-- !Add comment -->

    <!-- Thanks for comment -->
    <div class="pmp-comment-thanks" data-ng-show="true == newCommentPosted">
      Thanks for the comment!
      <br />
      <span class="pmp-comment-reenable" data-ng-click="newCommentPosted = false">Want to add another comment?</span>
    </div>
    <!-- !Thanks for comment -->
  </div>
</div>
<!-- !Comment -->
