<!-- Article -->
<div class="pmp-page-content-box" data-ng-controller="articleController">
  <article class="pmp-article">
    <h3 class="pmp-box-type pmp-box-type-news" data-ng-show="'news' == globals.article.type">
      News
    </h3>
    <h3 class="pmp-box-type pmp-box-type-personal" data-ng-show="'life' == globals.article.type">
      Personal
    </h3>
    <h3 class="pmp-box-type pmp-box-type-project" data-ng-show="'project' == globals.article.type">
      Project
    </h3>
    <h3 class="pmp-box-type pmp-box-type-tutorial" data-ng-show="'tutorial' == globals.article.type">
      Tutorial
    </h3>
    <h3 class="pmp-box-type pmp-box-type-flash" data-ng-show="'flash' == globals.article.type">
      Flash
    </h3>

    <hr class="pmp-break" />

    <div class="pmp-article-content">
      <header>
        <h1 class="pmp-article-title">
          <span data-ng-bind-html="globals.article.title | trust">
          </span>

          <div class="pmp-article-date">
            <span data-ng-bind="globals.article.created | date: 'yyyy-MM-dd'"></span>
          </div>
        </h1>

        <hr class="pmp-break" />

        <div class="pmp-article-tags">
          <div class="pmp-article-tag-icon">
            <span class="icon icon-tags"></span>
          </div>

          <div class="pmp-article-tag-list">
            <a class="pmp-article-tag" data-ng-repeat="tag in globals.article.tags" href="/search?search={{tag}}" data-ng-bind="tag"></a>
          </div>
        </div>
      </header>

      <hr class="pmp-break" />

      <div data-ng-show="true == globals.isPreview">
        <h3 class="pmp-box-type pmp-box-type-inverse" data-ng-show="'news' == globals.article.type">
          <center>Preview</center>
        </h3>
        <hr class="pmp-break" />
      </div>

      <main class="pmp-article-text pmp-md-generated"
           data-ng-bind-html="globals.article.text | trust"
           data-compile="globals.article.text">
      </main>
    </div>

    <div class="pmp-social">
      <div class="grid-3">
        <a class="button button-facebook no-parse cell-1"
           href="http://www.facebook.com/share.php?u={{'http://beta.pampattitu.de/article/' + globals.article.technicalName | encodeUri}}&title={{globals.article.title | encodeUri}}"
           target="_blank">
          <span class="icon icon-facebook"></span>&nbsp;&nbsp;Share
        </a>

        <a class="button button-twitter no-parse cell-1"
           href="http://twitter.com/intent/tweet?status={{globals.article.title | encodeUri}}+{{'http://beta.pampattitu.de/article/' + globals.article.technicalName | encodeUri}}"
           target="_blank">
          <span class="icon icon-twitter"></span>&nbsp;&nbsp;Tweet
        </a>

        <a class="button button-googleplus no-parse cell-1"
           href="https://plus.google.com/share?url={{'http://beta.pampattitu.de/article/' + globals.article.technicalName | encodeUri}}"
           target="_blank">
          <span class="icon icon-googleplus"></span>&nbsp;&nbsp;Impress
        </a>
      </div>
    </div>
  </article>
</div>
<!-- !Article -->

<!-- See also -->
<!--
<div class="pmp-page-content-box" id="seeAlso"
     data-ng-hide="0 == globals.relatedArticles.length">
  <div class="pmp-see-also">
    <h3 class="pmp-box-type">
      Continue reading
    </h3>

    <div class="pmp-related-article-list">
      <div class="grid-2">
        <div class="cell-1 cell-mobile-2"
             data-ng-repeat="relatedArticle in globals.relatedArticles">
          <a class="pmp-box-type pmp-box-type-news"
             href="/article/{{relatedArticle.technicalName}}"
             data-ng-show="'news' == relatedArticle.type">
            News:
            <span class="pmp-article-title"
                  data-ng-bind-html="relatedArticle.title | trust"></span>
          </a>

          <a class="pmp-box-type pmp-box-type-personal"
             href="/article/{{relatedArticle.technicalName}}"
             data-ng-show="'life' == relatedArticle.type">
            Personal:
            <span class="pmp-article-title"
                  data-ng-bind-html="relatedArticle.title | trust"></span>
          </a>

          <a class="pmp-box-type pmp-box-type-project"
             href="/article/{{relatedArticle.technicalName}}"
             data-ng-show="'project' == relatedArticle.type">
            Project:
            <span class="pmp-article-title"
                  data-ng-bind-html="relatedArticle.title | trust"></span>
          </a>

          <a class="pmp-box-type pmp-box-type-tutorial"
             href="/article/{{relatedArticle.technicalName}}"
             data-ng-show="'tutorial' == relatedArticle.type">
            Tutorial:
            <span class="pmp-article-title"
                  data-ng-bind-html="relatedArticle.title | trust"></span>
          </a>

          <a class="pmp-box-type pmp-box-type-flash"
             href="/article/{{relatedArticle.technicalName}}"
             data-ng-show="'flash' == relatedArticle.type">
            Flash:
            <span class="pmp-article-title"
                  data-ng-bind-html="relatedArticle.title | trust"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!-- !See also -->
<!-- Comment -->
<div class="pmp-page-content-box" id="comments" data-ng-controller="articleCommentsController" data-ng-hide="true == globals.deactivateComments">
  <h3 class="pmp-box-type">
    Comments
  </h3>

  <hr class="pmp-break">

  <div class="pmp-comments" style="text-align: left; padding: 0.6em 1.2em;">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'pampattitude';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>.</noscript>
  </div>
</div>
<!-- !Comment -->
