<!-- Search -->
<div class="pmp-page-content-box hidden-desktop">
  <div class="pmp-search-input-box">
    <form method="GET" action="/search">
      <div class="input-group input-group-with-button">
        <input class="input-group-data" type="text" name="search" ng-model="searchString" ng-init="searchString = searchString || ''" ng-class="{'has-data': 0 != searchString.length}" />

        <div class="input-group-placeholder">Search...</div>

        <button class="button button-success input-group-button" type="submit">
          <span class="icon icon-search"></span>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- !Search -->

<!-- Article -->
<div class="pmp-page-content-box first-desktop" ng-repeat="article in globals.articleList">
  <h2 class="box-vignette-left news-vignette" ng-show="'news' == article.type">News</h2>
  <h2 class="box-vignette-left life-vignette" ng-show="'life' == article.type">Personal</h2>
  <h2 class="box-vignette-left project-vignette" ng-show="'project' == article.type">Project</h2>
  <h2 class="box-vignette-left tutorial-vignette" ng-show="'tutorial' == article.type">Tutorial</h2>

  <h2 class="box-vignette-left date-vignette" ng-bind="article.created | date: 'yyyy-MM-dd'"></h2>

  <h2 class="box-vignette-right featured-vignette" ng-show="true == article.featured">
    <span class="icon icon-star3"></span>
  </h2>

  <div class="pmp-article">
    <h1 class="pmp-article-title"><a href="/article/{{article.technicalName}}" ng-bind-html="article.title | trust"></a></h1>

    <div class="pmp-article-caption" ng-bind-html="article.caption | trust">
    </div>

    <div class="pmp-article-access">
      <a href="/article/{{article.technicalName}}">Read blog post&nbsp;&nbsp;<span class="icon icon-arrow-right2"></span></a>
    </div>

    <div class="pmp-article-tags">
      <a class="pmp-article-tag-group" href="/search?search={{article.tags.join(' ')}}"><span class="icon icon-tags"></span></a>

      <a class="pmp-article-tag" ng-repeat="tag in article.tags" href="/search?search={{tag}}" ng-bind="tag">
      </a>
    </div>
  </div>
</div>
<!-- !Article -->
