<!-- Mobile search box -->
<% include pages/mobileSearchBox.html %>
<!-- !Mobile search box -->
-
<!-- Article -->
<article class="pmp-page-content-box first-desktop" data-ng-repeat="article in globals.articleList">
  <h2 class="box-vignette-left news-vignette" data-ng-show="'news' == article.type">News</h2>
  <h2 class="box-vignette-left life-vignette" data-ng-show="'life' == article.type">Personal</h2>
  <h2 class="box-vignette-left project-vignette" data-ng-show="'project' == article.type">Project</h2>
  <h2 class="box-vignette-left tutorial-vignette" data-ng-show="'tutorial' == article.type">Tutorial</h2>
  <h2 class="box-vignette-left flash-vignette" data-ng-show="'flash' == article.type"><span class="icon icon-lightning"></span>&nbsp;&nbsp;Flash</h2>

  <h2 class="box-vignette-left date-vignette" data-ng-bind="article.created | date: 'yyyy-MM-dd'"></h2>

  <h2 class="box-vignette-right featured-vignette" data-ng-show="true == article.featured">
    <span class="icon icon-star3"></span>
  </h2>

  <div class="pmp-article">
    <h1 class="pmp-article-title"><a href="/article/{{article.technicalName}}" data-ng-bind-html="article.title | trust"></a></h1>

    <div class="pmp-article-caption pmp-bb-generated" data-ng-bind-html="article.caption | trust">
    </div>

    <div class="pmp-article-more">
      <div class="pmp-article-access" data-ng-hide="'flash' == article.type">
        <a class="button button-labeled-inverse button-info" href="/article/{{article.technicalName}}">
          Read blog post
          <div class="button-label"><span class="icon icon-arrow-right"></span></div>
        </a>
      </div>

      <div class="pmp-article-tags">
        <a class="pmp-article-tag-group" href="/search?search={{article.tags.join(' ')}}"><span class="icon icon-tags"></span></a>

        <a class="pmp-article-tag" data-ng-repeat="tag in article.tags" href="/search?search={{tag}}" data-ng-bind="tag">
        </a>
      </div>
    </div>
  </div>
</article>
<!-- !Article -->

<!-- Page -->
<div class="pmp-page-control">
  <div ng-hide="0 == globals.totalPageCount">
    <div ng-show="4 >= globals.totalPageCount">
      <!-- Should be inactive if at page 1 -->
      <a class="button" href="/blog/{{globals.actualPageIndex}}"
         ng-hide="0 == globals.actualPageIndex">
        <span class="icon icon-previous"></span>
      </a>
      <span class="button button-deactivated"
            ng-show="0 == globals.actualPageIndex">
        <span class="icon icon-previous"></span>
      </span>

      <span ng-repeat="i in range(globals.totalPageCount) track by $index">
        <a class="button" href="/blog/{{$index+1}}"
           ng-show="globals.actualPageIndex != $index">
          {{$index+1}}
        </a>
        <span class="button button-selected" ng-hide="globals.actualPageIndex != $index">{{$index+1}}</span>
      </span>

      <!-- Should be inactive if at max page -->
      <a class="button" href="/blog/{{globals.actualPageIndex + 2}}"
         ng-hide="globals.totalPageCount - 1 == globals.actualPageIndex">
        <span class="icon icon-next"></span>
      </a>
      <span class="button button-deactivated"
            ng-show="globals.totalPageCount - 1 == globals.actualPageIndex">
        <span class="icon icon-next"></span>
      </span>
    </div>
  </div>
</div>
<!-- !Page -->
