<div class="pmp-page-content-box" data-ng-controller="reportController">
  <h2 class="box-vignette-left">Leave a report</h2>

  <div class="pmp-report">
    <div class="pmp-report-header">
      <p class="pmp-report-thanks">
        Thanks for leaving a report!
      </p>
      <p>
        If you encountered an error, please include page URL and
        details on what you were doing before having the error.
      </p>
    </div>

    <div class="pmp-report-content">
      <input class="control" type="text"
             data-ng-model="report.name"
             data-ng-class="{'has-data': reportName.length}"
             maxlength="64"
             placeholder="Name..." />

      <textarea class="control"
                data-ng-model="report.text"
                data-ng-class="{'has-data': reportText.length}"
                rows="4" maxlength="1024"
                data-resizable
                placeholder="What happened?"></textarea>

      <button class="button button-success button-labeled pmp-submit-report" type="button" data-ng-click="sendReport()">
        <span class="button-label"><span class="icon icon-checkmark"></span></span>
        Submit
      </button>
    </div>
  </div>
</div>
