<!--
    Server options:
      globals.hidePageMenu: removes menu entirely and makes the page body full screen
      globals.pageMenu.hideAboutMe: hides "About me" box
      globals.pageMenu.hideSocial:  hides "Social" box
      globals.pageMenu.hideTwitter:  hides "Twitter" box
-->

<div class="pmp-page-menu">
  <!-- User -->
  <div class="pmp-page-menu-box" data-ng-hide="globals.pageMenu.hideAboutMe">
    <h3 class="pmp-box-type pmp-box-type-about"><span class="icon icon-user"></span></h3>

    <hr class="pmp-break">

    <div class="pmp-about-me">
      <a class="pmp-me-face" href="/about"><img src="http://i.imgur.com/dkjkMuK.png" alt="" /></a>

      <h3 class="pmp-me-name">Guillaume &laquo;<span class="pmp-me-pampa"> Pampa </span>&raquo; Delahodde</h3>
      <p class="pmp-me-description">
        Hey there! Pampa, developer.<br />Check out the <a href="/about">about</a> page!
      </p>
    </div>
  </div>
  <!-- !User -->

  <!-- Search -->
  <div class="pmp-page-menu-box" data-ng-hide="globals.pageMenu.hideSearch">
    <h3 class="pmp-box-type pmp-box-type-search"><span class="icon icon-search"></span></h3>

    <hr class="pmp-break">

    <div class="pmp-search">
      <form method="GET" action="/search">
        <div class="control-group">
          <input class="control" type="text" name="search"
                 data-ng-model="searchString"
                 data-ng-init="searchString = searchString || ''"
                 data-ng-class="{'has-data': 0 != searchString.length}"
                 maxlength="64"
                 placeholder="Search the blog..." />

          <button class="button button-info control-button" type="submit">
            <span class="icon icon-search"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- !Search -->

  <!-- Social -->
  <div class="pmp-page-menu-box" data-ng-hide="globals.pageMenu.hideSocial">
    <h3 class="pmp-box-type pmp-box-type-social"><span class="icon icon-share"></span></h3>

    <hr class="pmp-break">

    <div class="pmp-social">
      <a class="button button-github no-parse"
         href="https://www.github.com/Pampattitude" target="_blank">
        <span class="icon icon-github3"></span>
      </a>

      &nbsp;

      <a class="button button-linkedin no-parse"
         href="https://www.linkedin.com/pub/guillaume-delahodde/5a/751/44a" target="_blank">
        <span class="icon icon-linkedin"></span>
      </a>

      &nbsp;

      <a class="button button-twitter no-parse"
         href="https://www.twitter.com/Pampattitude" target="_blank">
        <span class="icon icon-twitter"></span>
      </a>

      &nbsp;

      <a class="button button-facebook no-parse"
         href="https://www.facebook.com/Pampattitude" target="_blank">
        <span class="icon icon-facebook"></span>
      </a>

      &nbsp;

      <a class="button button-rss no-parse"
         href="/rss" target="_blank">
        <span class="icon icon-feed2"></span>
      </a>
    </div>
  </div>
  <!-- !Social -->

  <!-- Twitter -->
  <div class="pmp-page-menu-box" data-ng-hide="globals.pageMenu.hideTwitter">
    <h3 class="pmp-box-type pmp-box-type-twitter"><span class="icon icon-twitter"></span></h3>

    <hr class="pmp-break">

    <a class="twitter-timeline" href="https://twitter.com/Pampattitude" data-widget-id="583728888695623683">
      @Pampattitude tweets
    </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <!-- !Twitter -->
</div>
