<!-- Article -->
<div class="pmp-page-content-box" ng-repeat="article in globals.articleList">
  <h2 class="box-vignette-left" ng-show="true == article.featured">
    <span class="icon icon-star3"></span>
  </h2>

  <div class="pmp-article">
    <h1 class="pmp-article-title"><a href="/article/{{article.technicalName}}" ng-bind-html="article.title | trust"></a></h1>

    <div class="pmp-article-caption" ng-bind-html="article.caption | trust">
    </div>

    <div class="pmp-article-access">
      <a href="/article/{{article.technicalName}}">Read blog post&nbsp;&nbsp;<span class="icon icon-arrow-right2"></span></a>
    </div>
  </div>
</div>
<!-- !Article -->
