<!-- Article -->
<div class="pmp-page-content-box">
  <h2 class="box-vignette-left">
    <span class="icon icon-star"></span>
  </h2>

  <div class="pmp-article">
    <h1 class="pmp-article-title"><a href="#">JavaScript sucks... but not for the reasons you might think</a></h1>

    <div class="pmp-article-caption">
      <p>
        JavaScript is probably one of the most hated languages in history. There are countless articles about why it sucks.
      </p>
      <p>
        However, most of the time, they tend to bash JavaScript on OO principle it does not have. Why? Why would JavaScript need any kind of OO content? This article is a listing of what JavaScript is <b>really</b> missing.
      </p>
    </div>

    <div class="pmp-article-access">
      <a href="#">Read blog post&nbsp;&nbsp;<span class="icon icon-arrow-right"></span></a>
    </div>
  </div>
</div>
<!-- !Article -->

<!-- Article -->
<div class="pmp-page-content-box">
  <div class="pmp-article">
    <h1 class="pmp-article-title"><a href="#">Lorem ipsum dolor sit amet</a></h1>

    <div class="pmp-article-caption">
      <p>
        Sed a pellentesque nulla. Ut risus libero, rhoncus eu mauris sagittis, sollicitudin tincidunt nisl. Nunc tempus velit arcu, sed condimentum erat molestie non. Suspendisse elementum eu elit ac sagittis. Maecenas sit amet tempus dolor, ut rutrum elit. Nullam in enim at ligula aliquet ultrices a ut erat. Curabitur facilisis est nibh, vel sollicitudin felis porttitor at. Integer a varius massa. Quisque vulputate convallis posuere. Nunc ut mi et ex malesuada sagittis. Nullam ac ornare elit. Cras sed dui feugiat turpis congue interdum eget ac leo.
      </p>
      <p>
        Morbi at egestas lacus, iaculis sodales metus. Duis ultrices rutrum auctor. Cras iaculis, metus in blandit vestibulum, erat turpis euismod tortor, non aliquet augue lorem ut justo. Quisque varius, ex non sollicitudin tincidunt, tellus ipsum fringilla neque, sit amet dapibus est sem vitae ligula.
      </p>
    </div>

    <div class="pmp-article-access">
      <a href="#">Read blog post&nbsp;&nbsp;<span class="icon icon-arrow-right"></span></a>
    </div>
  </div>
</div>
<!-- !Article -->
