<!-- Article -->
<div class="pmp-page-content-box">
  <h2 class="box-vignette-left">
    <span class="icon icon-star"></span>
  </h2>

  <div class="pmp-article">
    <h1 class="pmp-article-title">JavaScript sucks... but not for the reasons you might think</h1>

    <div class="pmp-article-caption">
      <p>
        JavaScript is probably one of the most hated languages in history. There are countless articles about why it sucks.
      </p>
      <p>
        However, most of the time, they tend to bash JavaScript on OO principle it does not have. Why? Why would JavaScript need any kind of OO content? This article is a listing of what JavaScript is <b>really</b> missing.
      </p>
    </div>
  </div>
</div>
<!-- !Article -->

<!-- Article -->
<div class="pmp-page-content-box">
  <div class="pmp-article">
    <h1 class="pmp-article-title">JavaScript sucks... but not for the reasons you might think</h1>

    <div class="pmp-article-caption">
      <p>
        JavaScript is probably one of the most hated languages in history. There are countless articles about why it sucks.
      </p>
      <p>
        However, most of the time, they tend to bash JavaScript on OO principle it does not have. Why? Why would JavaScript need any kind of OO content? This article is a listing of what JavaScript is <b>really</b> missing.
      </p>
    </div>
  </div>
</div>
<!-- !Article -->
