<div class="pmp-page-content-box">
  <h2 class="box-vignette-left">Leave a report</h2>

  <div class="pmp-report"> <!-- TMP -->
    <div class="pmp-report-header">
      <p>
        Thanks for leaving a report!
      </p>
      <p>
        If you encountered an error, please include page URL and details on what you were doing before having the error.
      </p>
    </div>

    <div class="input-group">
      <input class="input-group-data" type="text" ng-model="reportName" ng-class="{'has-data': reportName.length}" />

      <div class="input-group-placeholder">Name...</div>
    </div>

    <div class="input-group">
      <textarea class="input-group-data" ng-model="reportText" ng-class="{'has-data': reportText.length}" rows="2"></textarea>

      <div class="input-group-placeholder">Report...</div>
    </div>

    <br /><!-- TMP -->
  </div>
</div>
